Repository yldio/asap-hub, pull requests merged in 2023-11, with the labels that each got.

#3858 [GP2HUB-139] Use Algolia for authors in Shared Output form
  .github/workflows/on-demand-gp2-algolia-sync.yml
  .github/workflows/reusable-gp2-algolia-sync.yml
  apps/gp2-frontend/src/outputs.ts
  apps/gp2-frontend/src/outputs/ShareOutput.tsx
  apps/gp2-frontend/src/outputs/__tests__/state.test.tsx
  apps/gp2-frontend/src/outputs/state.ts
  apps/gp2-frontend/src/projects/CreateProjectOutput.tsx
  apps/gp2-frontend/src/projects/__tests__/CreateProjectOutput.test.tsx
  apps/gp2-frontend/src/users/__mocks__/api.ts
  apps/gp2-frontend/src/users/__tests__/api.test.tsx
  apps/gp2-frontend/src/users/api.ts
  apps/gp2-frontend/src/working-groups/CreateWorkingGroupOutput.tsx
  apps/gp2-frontend/src/working-groups/__tests__/CreateWorkingGroupOutput.test.tsx
  apps/gp2-server/scripts/cli.ts
  apps/gp2-server/scripts/export-entity.ts
  apps/gp2-server/serverless.ts
  apps/gp2-server/src/controllers/external-user.controller.ts
  apps/gp2-server/src/data-providers/external-user.data-provider.ts
  apps/gp2-server/src/handlers/external-user/algolia-index-handler.ts
  apps/gp2-server/test/controllers/external-user.controller.test.ts
  apps/gp2-server/test/data-providers/external-user.data-provider.test.ts
  apps/gp2-server/test/fixtures/external-users.fixtures.ts
  apps/gp2-server/test/handlers/external-user/algolia-index-handler.test.ts
  apps/gp2-server/test/mocks/external-user.controller.mock.ts
  apps/gp2-server/test/routes/external-user.route.test.ts
  packages/algolia/src/client.ts
  packages/algolia/src/gp2/types.ts
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/external-user.queries.ts
Labels: gp2-create-environment

#3879 GP2HUB 142 reject unexpected sync notifications and reduce concurrency
  apps/crn-server/serverless.ts
  apps/crn-server/src/config.ts
  apps/crn-server/src/handlers/webhooks/gcal-webhook-events-updated-process.ts
  apps/crn-server/src/handlers/webhooks/gcal-webhook-events-updated.ts
  apps/gp2-server/serverless.ts
  apps/gp2-server/src/config.ts
  apps/gp2-server/src/handlers/webhooks/events-updated-process.ts
  apps/gp2-server/src/handlers/webhooks/events-updated.ts
  packages/contentful/src/utils/poll-content.ts
  packages/server-common/src/handlers/webhooks/events-updated-process.handler.ts
  packages/server-common/src/handlers/webhooks/events-updated.handler.ts
  packages/server-common/src/handlers/webhooks/index.ts
  packages/server-common/test/fixtures/calendar.fixtures.ts
  packages/server-common/test/fixtures/google-events.fixtures.ts
  packages/server-common/test/handlers/calendar/resubscribe-calendars.test.ts
  packages/server-common/test/handlers/webhooks/contentful-poller.handler.test.ts
  packages/server-common/test/handlers/webhooks/events-updated-process.handler.test.ts
  packages/server-common/test/handlers/webhooks/events-updated.handler.test.ts
Labels: crn-create-environment, gp2-create-environment

#3884 [GP2HUB-158] add output versions to CMS
  apps/gp2-server/src/data-providers/output.data-provider.ts
  apps/gp2-server/src/validation/output.validation.ts
  apps/gp2-server/test/data-providers/output.data-provider.test.ts
  apps/gp2-server/test/fixtures/output.fixtures.ts
  packages/contentful/migrations/gp2/outputs/20231106124500-add-versions.js
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/output.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/model/src/gp2/output.ts
Labels: gp2-create-environment

#3891 [ASAP-50] delete entries from algolia when deleted from CMS
  apps/crn-frontend/src/network/working-groups/__tests__/WorkingGroupProfile.test.tsx
  apps/crn-server/src/handlers/user/algolia-index-user-handler.ts
  apps/crn-server/test/integration/reminders.integration-test.ts
  apps/gp2-server/src/handlers/event/algolia-index-handler.ts
  apps/gp2-server/src/handlers/external-user/algolia-index-handler.ts
  apps/gp2-server/src/handlers/news/algolia-index-handler.ts
  apps/gp2-server/src/handlers/output/algolia-index-handler.ts
  apps/gp2-server/src/handlers/project/algolia-index-handler.ts
  apps/gp2-server/src/handlers/user/algolia-index-handler.ts
Labels: gp2-create-environment

#3900 ASAP-44 Add tags to working groups
  packages/contentful/migrations/crn/workingGroups/20231113103854-add-tags-field.js
Labels: crn-create-environment

#3871 fix: PR indexes & api setup and teardown
  .github/actions/contentful-checks/action.yml
  .github/actions/setup-environment/action.yml
  .github/workflows/on-push-branch.yml
  .github/workflows/on-remove.yml
  .github/workflows/reusable-create-environment.yml
Labels: crn-create-environment

#3903 ASAP-45 Add working groups to tag search
  .github/workflows/on-demand-crn-algolia-sync.yml
  .github/workflows/reusable-crn-algolia-sync.yml
  apps/crn-frontend/src/tags/Routes.tsx
  apps/crn-server/scripts/cli.ts
  apps/crn-server/scripts/export-entity.ts
  apps/crn-server/serverless.ts
  apps/crn-server/src/data-providers/contentful/working-group.data-provider.ts
  apps/crn-server/src/handlers/working-group/algolia-index-working-group-handler.ts
  apps/crn-server/test/controllers/working-group.controller.test.ts
  apps/crn-server/test/data-providers/contentful/working-groups.data-provider.test.ts
  apps/crn-server/test/fixtures/working-groups.fixtures.ts
  apps/crn-server/test/integration/fixtures/working-group.ts
  packages/algolia/src/client.ts
  packages/algolia/src/crn/types.ts
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/working-groups.queries.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
  packages/fixtures/src/working-groups.ts
  packages/model/src/tag.ts
  packages/model/src/working-group.ts
  packages/react-components/src/templates/TagsPageBody.tsx
  packages/react-components/src/templates/__tests__/TagsPageBody.test.tsx
  packages/server-common/src/handlers/event-bus.ts
Labels: crn-create-environment

#3905 [ASAP-42] - add tags field to news
  packages/contentful/migrations/crn/news/20231115124415-add-tags-field.js
Labels: crn-create-environment

#3904 calendar subscriber handler uses sdk
  apps/crn-server/src/config.ts
  apps/crn-server/src/handlers/calendar/gcal-resubscribe-handler.ts
  apps/crn-server/src/handlers/calendar/gcal-subscribe-handler.ts
  apps/crn-server/src/utils/get-calendar-subscription-id.ts
  apps/crn-server/test/data-providers/contentful/event.data-provider.test.ts
  apps/crn-server/test/fixtures/events.fixtures.ts
  apps/crn-server/test/handlers/webhooks/webhook-contentful-poller.test.ts
  apps/gp2-server/package.json
  apps/gp2-server/scripts/subscribe-calendar.ts
  apps/gp2-server/scripts/sync-calendar.ts
  apps/gp2-server/src/config.ts
  apps/gp2-server/src/handlers/calendar/resubscribe-handler.ts
  apps/gp2-server/src/handlers/calendar/subscribe-handler.ts
  apps/gp2-server/test/handlers/webhooks/contentful-poller.test.ts
  packages/server-common/src/handlers/calendar/calendar-handler-factory.contentful.ts
  packages/server-common/src/handlers/calendar/resubscribe-handler.ts
  packages/server-common/src/handlers/calendar/subscribe-handler.ts
  packages/server-common/src/handlers/webhooks/contentful-poller.handler.ts
  packages/server-common/src/handlers/webhooks/contentful.handler.ts
  packages/server-common/src/handlers/webhooks/events-updated-process.handler.ts
  packages/server-common/src/handlers/webhooks/events-updated.handler.ts
  packages/server-common/src/utils/google-auth-client.ts
  packages/server-common/src/utils/index.ts
  packages/server-common/src/utils/sync-google-calendar.ts
  packages/server-common/test/handlers/calendar/subscribe-handler.test.ts
  packages/server-common/test/handlers/calendar/webhook-sync-calendar.fixtures.ts
  packages/server-common/test/handlers/webhooks/contentful-poller.handler.test.ts
  packages/server-common/test/handlers/webhooks/contentful.handler.test.ts
  packages/server-common/test/handlers/webhooks/events-updated-process.handler.test.ts
  packages/server-common/test/handlers/webhooks/events-updated.handler.test.ts
  packages/server-common/test/utils/sync-google-calendar.test.ts
  packages/server-common/test/utils/sync-google-event.test.ts
Labels: gp2-create-environment

#3969 [ASAP-43] add news to algolia and tag search page
  .github/workflows/on-demand-crn-algolia-sync.yml
  .github/workflows/reusable-crn-algolia-sync.yml
  apps/crn-frontend/src/tags/Routes.tsx
  apps/crn-frontend/src/tags/__tests__/Routes.test.tsx
  apps/crn-server/scripts/cli.ts
  apps/crn-server/scripts/export-entity.ts
  apps/crn-server/serverless.ts
  apps/crn-server/src/dependencies/news.dependencies.ts
  apps/crn-server/src/handlers/news/algolia-index-news-handler.ts
  apps/crn-server/test/dependencies/news.dependencies.test.ts
  apps/gp2-frontend/src/events/__tests__/Routes.test.tsx
  packages/algolia/src/client.ts
  packages/algolia/src/crn/types.ts
  packages/model/src/tag.ts
  packages/react-components/src/templates/TagsPageBody.tsx
  packages/react-components/src/templates/__tests__/TagsPageBody.test.tsx
  packages/server-common/src/handlers/event-bus.ts
Labels: crn-create-environment

#3976 fix: Invalid bundle URL bug
  apps/crn-auth-frontend/vite.config.ts
  apps/gp2-auth-frontend/vite.config.ts
Labels: use-pr-auth0-tenant
