Repository yldio/asap-hub, pull requests merged in 2023-06, with the labels that each got.

#3121 adding new keywords
  apps/gp2-frontend/src/hooks/__tests__/search.test.ts
  apps/gp2-frontend/src/users/__tests__/UserDirectory.test.tsx
  apps/gp2-frontend/src/users/__tests__/api.test.tsx
  apps/gp2-server/test/controllers/user.controller.test.ts
  apps/gp2-server/test/data-providers/contentful/user.data-provider.test.ts
  apps/gp2-server/test/data-providers/user.data-provider.test.ts
  apps/gp2-server/test/fixtures/project.fixtures.ts
  apps/gp2-server/test/fixtures/user.fixtures.ts
  apps/gp2-server/test/routes/user.route.test.ts
  packages/contentful/migrations/gp2/projects/20230531104312-remove-keywords.js
  packages/contentful/migrations/gp2/users/20230531104312-remove-keywords.js
  packages/fixtures/src/gp2/projects.ts
  packages/fixtures/src/gp2/users.ts
  packages/gp2-components/src/organisms/__tests__/FiltersModal.test.tsx
  packages/gp2-components/src/templates/__tests__/UsersPageList.test.tsx
  packages/model/src/gp2/common.ts
  packages/model/src/gp2/index.ts
  packages/model/src/gp2/keywords.ts
  packages/squidex/schema/gp2/schemas/projects.json
  packages/squidex/schema/gp2/schemas/users.json
Labels: gp2-create-environment

#3130 CT-17 Working Groups webhook
  apps/crn-server/serverless.ts
  apps/crn-server/src/dependencies/working-groups.dependencies.ts
  apps/crn-server/src/handlers/event-bus.ts
  apps/crn-server/src/handlers/working-group/update-deliverables-handler.ts
  apps/crn-server/test/dependencies/working-groups.dependencies.test.ts
  apps/crn-server/test/fixtures/working-groups.fixtures.ts
  apps/crn-server/test/handlers/working-group/update-deliverables-handler.test.ts
  packages/contentful/src/crn/types/webhook.ts
Labels: crn-create-environment

#3128 GP2 400 data provider outputs
  apps/gp2-frontend/src/outputs/ShareOutput.tsx
  apps/gp2-frontend/src/outputs/__tests__/api.test.tsx
  apps/gp2-frontend/src/outputs/api.ts
  apps/gp2-frontend/src/projects/CreateProjectOutput.tsx
  apps/gp2-frontend/src/projects/ProjectDetail.tsx
  apps/gp2-frontend/src/projects/__tests__/CreateProjectOutput.test.tsx
  apps/gp2-frontend/src/users/UserDetail.tsx
  apps/gp2-frontend/src/working-groups/CreateWorkingGroupOutput.tsx
  apps/gp2-frontend/src/working-groups/WorkingGroupDetail.tsx
  apps/gp2-frontend/src/working-groups/__tests__/CreateWorkingGroupOutput.test.tsx
  apps/gp2-frontend/src/working-groups/__tests__/WorkingGroupDetail.test.tsx
  apps/gp2-server/src/app.ts
  apps/gp2-server/src/controllers/output.controller.ts
  apps/gp2-server/src/data-providers/contentful/external-user.data-provider.ts
  apps/gp2-server/src/data-providers/contentful/output.data-provider.ts
  apps/gp2-server/src/data-providers/contentful/user.data-provider.ts
  apps/gp2-server/src/data-providers/contentful/utils/resources.ts
  apps/gp2-server/src/data-providers/output.data-provider.ts
  apps/gp2-server/src/data-providers/types/index.ts
  apps/gp2-server/src/data-providers/types/output.data-provider.type.ts
  apps/gp2-server/src/entities/output.entity.ts
  apps/gp2-server/src/routes/output.route.ts
  apps/gp2-server/src/validation/output.validation.ts
  apps/gp2-server/test/controllers/output.controller.test.ts
  apps/gp2-server/test/data-providers/contentful/output.data-provider.test.ts
  apps/gp2-server/test/data-providers/output.data-provider.test.ts
  apps/gp2-server/test/fixtures/output.fixtures.ts
  apps/gp2-server/test/mocks/output-data-provider.mock.ts
  packages/contentful/migrations/gp2/outputs/20230531101009-date-fields.js
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/event.queries.ts
  packages/contentful/src/gp2/queries/index.ts
  packages/contentful/src/gp2/queries/output.queries.ts
  packages/contentful/src/mocks/graphql-client.mock.ts
  packages/contentful/src/utils/parse-fields.ts
  packages/contentful/src/utils/poll-content.ts
  packages/contentful/test/utils/parse-fields.test.ts
  packages/gp2-components/src/organisms/OutputCard.tsx
  packages/gp2-components/src/organisms/__tests__/OutputCard.test.tsx
  packages/gp2-components/src/templates/OutputForm.tsx
  packages/gp2-components/src/templates/PageNotifications.tsx
  packages/model/src/gp2/output.ts
  packages/model/test/gp2/output.test.ts
  packages/squidex/src/entities/gp2/output.ts
Labels: gp2-create-environment

#3142 empty commit
  packages/contentful/migrations/gp2/projects/20230606093014-update-validation-keywords.js
  packages/contentful/migrations/gp2/users/20230606093011-update-validation-keywords.js
Labels: gp2-create-environment

#3131 Add CMS migration for interest groups
  packages/cms-data-sync/src/autogenerated-gql/gql.ts
  packages/cms-data-sync/src/autogenerated-gql/graphql.ts
  packages/cms-data-sync/src/interest-groups/interest-groups.data-migration.ts
  packages/cms-data-sync/src/interest-groups/interest-groups.queries.ts
  packages/cms-data-sync/src/run-migrations.ts
  packages/cms-data-sync/src/users/users.data-migration.ts
  packages/cms-data-sync/test/fixtures/entry.fixtures.ts
  packages/cms-data-sync/test/interest-groups/interest-groups.data-migration.test.ts
  packages/cms-data-sync/test/run-migrations.test.ts
  packages/cms-data-sync/test/users/users.data-migration.test.ts
Labels: crn-create-environment

#3136 feat: CT-20 Create Tutorials Content Model
  apps/crn-frontend/src/discover/api.ts
  apps/crn-frontend/src/discover/tutorials/api.ts
  apps/crn-server/src/app.ts
  apps/crn-server/src/controllers/tutorials.ts
  apps/crn-server/src/data-providers/contentful/tutorials.data-provider.ts
  apps/crn-server/src/data-providers/tutorials.data-provider.ts
  apps/crn-server/src/data-providers/types/index.ts
  apps/crn-server/src/data-providers/types/tutorials.data-provider.types.ts
  apps/crn-server/src/utils/feature-flag.ts
  apps/crn-server/test/data-providers/contentful/tutorials.data-provider.test.ts
  apps/crn-server/test/fixtures/tutorials.fixtures.ts
  packages/cms-data-sync/src/autogenerated-gql/gql.ts
  packages/cms-data-sync/src/autogenerated-gql/graphql.ts
  packages/cms-data-sync/src/run-migrations.ts
  packages/cms-data-sync/src/tutorials/tutorials.data-migration.ts
  packages/cms-data-sync/src/tutorials/tutorials.queries.ts
  packages/cms-data-sync/test/fixtures/entry.fixtures.ts
  packages/cms-data-sync/test/run-migrations.test.ts
  packages/cms-data-sync/test/tutorials/tutorials.data-migration.test.ts
  packages/contentful/migrations/crn/tutorials/20230605153100-create-tutorials.js
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/index.ts
  packages/contentful/src/crn/queries/tutorials.queries.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
Labels: crn-create-environment

#3146 User Filters
  apps/gp2-frontend/src/users/__tests__/UserDirectory.test.tsx
  apps/gp2-frontend/src/users/__tests__/export.test.ts
  apps/gp2-frontend/src/users/export.ts
  apps/gp2-server/src/data-providers/contentful/user.data-provider.ts
  apps/gp2-server/src/validation/user.validation.ts
  apps/gp2-server/test/data-providers/contentful/user.data-provider.test.ts
  packages/contentful/migrations/gp2/users/20230606140315-update-social.js
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/user.queries.ts
Labels: gp2-create-environment

#3156 refactor: sync all calendar github action
  .github/workflows/on-demand-calendar-sync.yml
  apps/crn-server/src/handlers/calendar/resubscribe-handler.ts
  apps/crn-server/src/handlers/calendar/subscribe-handler.ts
  apps/crn-server/src/utils/get-calendar-subscription-id.ts
  apps/crn-server/test/utils/get-calendar-subscription-id.test.ts
  packages/cms-data-sync/src/calendars/sync-all.ts
  packages/cms-data-sync/test/calendars/sync-all.test.ts
  packages/server-common/src/handlers/calendar/calendar-handler-factory.contentful.ts
  packages/server-common/test/handlers/calendar/calendar-handler-factory.contentful.test.ts
  packages/server-common/test/handlers/calendar/resubscribe-calendars.test.ts
Labels: crn-create-environment

#3180 CT-64 Add an action to rollback the last Contentful migration for a content-type
  .github/workflows/on-demand-rollback-contentful-migration.yml
  package.json
  packages/contentful/package.json
  packages/contentful/scripts/migration-rollback-run.sh
Labels: crn-create-environment

#3181 CT-25 - Add content model for research tags
  apps/crn-server/src/app.ts
  apps/crn-server/src/controllers/research-outputs.ts
  apps/crn-server/src/controllers/research-tags.ts
  apps/crn-server/src/data-providers/contentful/research-tags.data-provider.ts
  apps/crn-server/src/data-providers/research-tags.data-provider.ts
  apps/crn-server/src/data-providers/types/index.ts
  apps/crn-server/src/data-providers/types/research-tags.data-provider.types.ts
  apps/crn-server/src/utils/feature-flag.ts
  apps/crn-server/test/controllers/research-tags.test.ts
  apps/crn-server/test/data-providers/contentful/research-tags.data-provider.test.ts
  apps/crn-server/test/fixtures/research-tag.fixtures.ts
  packages/cms-data-sync/src/autogenerated-gql/gql.ts
  packages/cms-data-sync/src/autogenerated-gql/graphql.ts
  packages/cms-data-sync/src/research-tags/research-tags.data-migration.ts
  packages/cms-data-sync/src/research-tags/research-tags.queries.ts
  packages/cms-data-sync/src/run-migrations.ts
  packages/cms-data-sync/test/fixtures/entry.fixtures.ts
  packages/cms-data-sync/test/research-tags/research-tags.data-migration.test.ts
  packages/cms-data-sync/test/run-migrations.test.ts
  packages/contentful/migrations/crn/researchTags/20230613130000-research-tags.ts
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/index.ts
  packages/contentful/src/crn/queries/research-tags.queries.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
Labels: contentful, crn-create-environment

#3224 GP2-507 - Latest stats on Dashboard
  apps/gp2-frontend/src/dashboard/Body.tsx
  apps/gp2-frontend/src/dashboard/__tests__/Dashboard.test.tsx
  apps/gp2-frontend/src/dashboard/__tests__/api.test.tsx
  apps/gp2-frontend/src/dashboard/api.tsx
  apps/gp2-frontend/src/dashboard/state.ts
  apps/gp2-server/src/app.ts
  apps/gp2-server/src/controllers/dashboard.controller.ts
  apps/gp2-server/src/data-providers/contentful/dashboard.data-provider.ts
  apps/gp2-server/src/data-providers/types/dashboard.data-provider.type.ts
  apps/gp2-server/src/data-providers/types/index.ts
  apps/gp2-server/src/routes/dashboard.route.ts
  apps/gp2-server/test/controllers/dashboard.controller.test.ts
  apps/gp2-server/test/data-providers/contentful/dashboard.data-provider.test.ts
  apps/gp2-server/test/fixtures/dashboard.fixtures.ts
  apps/gp2-server/test/mocks/dashboard-controller.mock.ts
  apps/gp2-server/test/mocks/dashboard-data-provider.mock.ts
  apps/gp2-server/test/routes/dashboard.route.test.ts
  apps/storybook/src/Icons.stories.tsx
  apps/storybook/src/gp2-components/DashboardPageBody.stories.tsx
  apps/storybook/src/gp2-components/Icons.stories.tsx
  packages/contentful/migrations/gp2/stats/6ekgyp1432o9-latest-stats-1687431642029.js
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/index.ts
  packages/contentful/src/gp2/queries/stats.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/contentful/src/mocks/graphql-client.mock.ts
  packages/fixtures/src/gp2/dashboard.ts
  packages/fixtures/src/gp2/index.ts
  packages/gp2-components/src/icons/__tests__/article.test.tsx
  packages/gp2-components/src/icons/article.tsx
  packages/gp2-components/src/icons/index.ts
  packages/gp2-components/src/molecules/IconWithLabel.tsx
  packages/gp2-components/src/molecules/InfoCard.tsx
  packages/gp2-components/src/molecules/__tests__/InfoCard.test.tsx
  packages/gp2-components/src/organisms/DashboardNews.tsx
  packages/gp2-components/src/templates/DashboardPageBody.tsx
  packages/gp2-components/src/templates/__tests__/DashboardPageBody.test.tsx
  packages/model/src/gp2/dashboard.ts
  packages/model/src/gp2/index.ts
  packages/react-components/src/icons/index.ts
  packages/react-components/src/icons/lab.tsx
  packages/react-components/src/icons/shared-research.tsx
  packages/react-components/src/molecules/AssociationList.tsx
  packages/react-components/src/organisms/TeamCard.tsx
  packages/react-components/src/templates/TeamProfileHeader.tsx
Labels: gp2-create-environment

#3244 Revert "GP2-544 - Make WG description rich text (#3235)"
  apps/gp2-server/src/data-providers/contentful/working-group.data-provider.ts
  apps/gp2-server/test/fixtures/working-group.fixtures.ts
  packages/contentful/migrations/gp2/workingGroups/6ekgyp1432o9-create-working-group-1682581202389.js
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/working-group.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/contentful/src/utils/parse-rich-text.ts
  packages/gp2-components/src/molecules/ExpandableText.tsx
  packages/gp2-components/src/templates/WorkingGroupOverview.tsx
Labels: gp2-create-environment
