Repository yldio/asap-hub, pull requests merged in 2023-05, with the labels that each got.

#3022 Set contentful feature flags to true if PR is labelled `contentful`
  .github/actions/setup-environment/action.yml
Labels: contentful

#3113 making emails on wg and projects not unique
  packages/contentful/migrations/gp2/projects/20230525115014-redefine-emails-validation.js
  packages/contentful/migrations/gp2/workingGroups/20230525115326-redefine-emails-validation.js
  packages/squidex/schema/gp2/schemas/projects.json
  packages/squidex/schema/gp2/schemas/working-groups.json
Labels: gp2-create-environment

#3106 GP2 399 data provider working groups
  apps/gp2-server/src/app.ts
  apps/gp2-server/src/data-providers/contentful/user.data-provider.ts
  apps/gp2-server/src/data-providers/contentful/working-group.data-provider.ts
  apps/gp2-server/src/routes/output.route.ts
  apps/gp2-server/src/routes/project.route.ts
  apps/gp2-server/src/validation/project.validation.ts
  apps/gp2-server/src/validation/working-group.validation.ts
  apps/gp2-server/test/data-providers/contentful/user.data-provider.test.ts
  apps/gp2-server/test/data-providers/contentful/working-group.data-provider.test.ts
  apps/gp2-server/test/data-providers/project.data-provider.test.ts
  apps/gp2-server/test/data-providers/working-group-network.data-provider.test.ts
  apps/gp2-server/test/data-providers/working-group.data-provider.test.ts
  apps/gp2-server/test/fixtures/working-group.fixtures.ts
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/users.queries.ts
  packages/contentful/src/gp2/queries/working-group.queries.ts
  packages/contentful/src/utils/parse-fields.ts
  packages/contentful/src/utils/poll-content.ts
  packages/contentful/test/utils/parse-fields.test.ts
  packages/gp2-components/src/organisms/ResourceModal.tsx
  packages/model/src/gp2/common.ts
  packages/model/test/gp2/common.test.ts
Labels: gp2-create-environment

#3110 CT-17 Working Groups content model
  apps/crn-frontend/src/network/working-groups/api.ts
  apps/crn-server/src/app.ts
  apps/crn-server/src/controllers/working-groups.ts
  apps/crn-server/src/data-providers/contentful/working-groups.data-provider.ts
  apps/crn-server/src/data-providers/types/index.ts
  apps/crn-server/src/data-providers/types/working-groups.data-provider.types.ts
  apps/crn-server/src/data-providers/working-groups.data-provider.ts
  apps/crn-server/src/entities/calendar.ts
  apps/crn-server/src/handlers/working-group/update-deliverables-handler.ts
  apps/crn-server/src/utils/feature-flag.ts
  apps/crn-server/test/data-providers/contentful/working-groups.data-provider.test.ts
  apps/crn-server/test/entities/working-group.test.ts
  apps/crn-server/test/fixtures/working-groups.fixtures.ts
  packages/contentful/migrations/crn/workingGroups/20230524124930-create-working-groups.js
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/index.ts
  packages/contentful/src/crn/queries/working-groups.queries.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
  packages/contentful/src/mocks/graphql-client.mock.ts
Labels: crn-create-environment

#3070 Add Contentful support for Interest Groups
  apps/crn-frontend/src/network/groups/api.ts
  apps/crn-frontend/src/network/users/groups/api.ts
  apps/crn-server/serverless.ts
  apps/crn-server/src/app.ts
  apps/crn-server/src/autogenerated-gql/gql.ts
  apps/crn-server/src/autogenerated-gql/graphql.ts
  apps/crn-server/src/controllers/interest-groups.ts
  apps/crn-server/src/data-providers/contentful/interest-groups.data-provider.ts
  apps/crn-server/src/data-providers/interest-groups.data-provider.ts
  apps/crn-server/src/data-providers/types/index.ts
  apps/crn-server/src/data-providers/types/interest-groups.data-provider.types.ts
  apps/crn-server/src/data-providers/users.data-provider.ts
  apps/crn-server/src/entities/event.ts
  apps/crn-server/src/entities/index.ts
  apps/crn-server/src/entities/interest-group.ts
  apps/crn-server/src/handlers/event-bus.ts
  apps/crn-server/src/handlers/event/index-group-events-handler.ts
  apps/crn-server/src/queries/events.queries.ts
  apps/crn-server/src/queries/interest-groups.queries.ts
  apps/crn-server/src/routes/interest-groups.route.ts
  apps/crn-server/src/routes/teams.route.ts
  apps/crn-server/src/routes/user.route.ts
  apps/crn-server/src/utils/feature-flag.ts
  apps/crn-server/test/controllers/interest-groups.test.ts
  apps/crn-server/test/data-providers/contentful/interest-groups.data-provider.test.ts
  apps/crn-server/test/data-providers/event.data-provider.test.ts
  apps/crn-server/test/data-providers/interest-groups.data-provider.test.ts
  apps/crn-server/test/entities/interest-group.test.ts
  apps/crn-server/test/fixtures/calendars.fixtures.ts
  apps/crn-server/test/fixtures/events.fixtures.ts
  apps/crn-server/test/fixtures/interest-groups.fixtures.ts
  apps/crn-server/test/fixtures/teams.fixtures.ts
  apps/crn-server/test/fixtures/users.fixtures.ts
  apps/crn-server/test/handlers/event/index-group-events-handler.test.ts
  apps/crn-server/test/middleware/permission-handler.test.ts
  apps/crn-server/test/mocks/group-controller.mock.ts
  apps/crn-server/test/mocks/interest-group-controller.mock.ts
  apps/crn-server/test/mocks/squidex-graphql-client-with-server.mock.ts
  apps/crn-server/test/routes/interest-groups.route.test.ts
  apps/crn-server/test/routes/teams.route.test.ts
  apps/crn-server/test/routes/user.route.test.ts
  packages/contentful/migrations/crn/interestGroups/20230512103000-interest-groups.js
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/index.ts
  packages/contentful/src/crn/queries/interest-groups.queries.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
  packages/contentful/src/crn/types/webhook.ts
  packages/contentful/src/mocks/graphql-client.mock.ts
  packages/model/src/group.ts
  packages/model/src/webhook.ts
Labels: crn-create-environment
