Repository yldio/asap-hub, pull requests merged in 2023-09, with the labels that each got.

#3594 Allow more complex queries for single entities
  apps/crn-frontend/src/events/state.ts
  apps/crn-frontend/src/network/interest-groups/state.ts
  apps/crn-frontend/src/network/teams/interest-groups/state.ts
  apps/crn-frontend/src/network/teams/state.ts
  apps/crn-frontend/src/network/users/state.ts
  apps/crn-frontend/src/network/working-groups/state.ts
  apps/crn-frontend/src/shared-research/state.ts
  apps/crn-server/scripts/export-entity.ts
  apps/crn-server/test/controllers/event.controller.test.ts
  apps/crn-server/test/data-providers/event.data-provider.test.ts
  apps/crn-server/test/fixtures/events.fixtures.ts
  apps/crn-server/test/integration/common/events.integration-test.ts
  apps/crn-server/test/integration/common/research-outputs.integration-test.ts
  apps/crn-server/test/integration/common/users.integration-test.ts
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/events.queries.ts
  packages/contentful/src/crn/queries/research-outputs.queries.ts
Labels: contentful

#3639 CT-117 Events created via webhook not being published
  apps/crn-server/src/data-providers/contentful/event.data-provider.ts
  apps/crn-server/test/data-providers/contentful/event.data-provider.test.ts
  packages/contentful/migrations/crn/events/20230831163931-change-last-updated-to-not-required.js
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/events.queries.ts
Labels: contentful, crn-create-environment

#3623 Add migration for contentful
  packages/contentful/migrations/crn/guides/20230829-make-icon-required.js
Labels: contentful, crn-create-environment

#3647 Ensure uniqueness of channel ids when subscribing to google calendars
  apps/crn-server/src/data-providers/contentful/calendar.data-provider.ts
  apps/gp2-server/src/data-providers/calendar.data-provider.ts
  packages/model/src/calendar-common.ts
  packages/server-common/src/handlers/calendar/calendar-handler-factory.contentful.ts
  packages/server-common/src/handlers/calendar/resubscribe-handler.ts
  packages/server-common/src/handlers/webhooks/events-updated.handler.ts
  packages/server-common/test/handlers/calendar/calendar-handler-factory.contentful.test.ts
  packages/server-common/test/handlers/calendar/resubscribe-calendars.test.ts
  packages/server-common/test/handlers/calendar/utils.ts
  packages/server-common/test/handlers/webhooks/events-updated.handler.test.ts
Labels: crn-create-environment

#3652 CT-116 Adding missing help texts to Contentful
  packages/contentful/migrations/crn/events/20230905123502-add-help-text.js
  packages/contentful/migrations/crn/externalAuthors/20230905124643-add-help-text.js
  packages/contentful/migrations/crn/interestGroups/20230905125029-add-help-text.js
  packages/contentful/migrations/crn/researchOutputs/20230905135647-add-help-text.js
  packages/contentful/migrations/crn/users/20230905115618-add-help-text.js
Labels: contentful, crn-create-environment

#3662 Crn 1086 remove hidden and cancelled event reminders
  apps/crn-server/src/data-providers/contentful/reminder.data-provider.ts
  apps/crn-server/test/integration/common/reminders.integration-test.ts
Labels: contentful, crn-create-environment

#3672 [GP2HUB-71] add DO as user degree
  packages/contentful/migrations/gp2/users/20230911102000-update-degrees.js
  packages/model/src/gp2/user.ts
Labels: gp2-create-environment

#3693 [GP2HUB-82] add handlers to sync events
  apps/gp2-server/src/controllers/event.controller.ts
  apps/gp2-server/src/data-providers/event.data-provider.ts
  apps/gp2-server/src/handlers/event-bus.ts
  apps/gp2-server/src/handlers/event/algolia-index-calendar-handler.ts
  apps/gp2-server/src/handlers/event/algolia-index-external-user-handler.ts
  apps/gp2-server/src/handlers/event/algolia-index-user-handler.ts
  apps/gp2-server/test/data-providers/event.data-provider.test.ts
  apps/gp2-server/test/fixtures/calendar.fixtures.ts
  apps/gp2-server/test/fixtures/external-users.fixtures.ts
  apps/gp2-server/test/handlers/event/algolia-index-calendar-handler.test.ts
  apps/gp2-server/test/handlers/event/algolia-index-external-user-handler.test.ts
  apps/gp2-server/test/handlers/event/algolia-index-user-handler.test.ts
  packages/contentful/src/gp2/types/webhook.ts
  packages/model/src/gp2/event.ts
  packages/model/src/gp2/webhook.ts
Labels: gp2-create-environment

#3692 [CRN-1492] refactor(research-output indexer): populate _tags field
  apps/crn-server/scripts/export-entity.ts
  apps/crn-server/src/handlers/research-output/algolia-index-research-output-handler.ts
  apps/crn-server/test/handlers/research-output/algolia-index-research-output-handler.test.ts
  packages/algolia/schema/crn/algolia-schema.json
Labels: crn-create-environment

#3697 GP2HUB-92 bugfix: Events not being created when calendar is added
  packages/server-common/src/utils/sync-google-event.ts
  packages/server-common/src/utils/type-narrowing.ts
  packages/server-common/test/utils/sync-google-event.test.ts
Labels: gp2-create-environment

#3690 GP2HUB-22 Add meeting link to event series
  apps/gp2-server/serverless.ts
  apps/gp2-server/src/data-providers/event.data-provider.ts
  apps/gp2-server/src/handlers/event/update-events-meeting-link-handler.ts
  apps/gp2-server/test/handlers/event/update-events-meeting-link-handler.test.ts
  packages/contentful/migrations/gp2/events/20230913100016-add-copy-meeting-link-field.js
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/event.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/model/src/event-common.ts
Labels: gp2-create-environment

#3694 CRN-1473 update tutorial model
  apps/crn-frontend/src/discover/__tests__/Routes.test.tsx
  apps/crn-frontend/src/discover/tutorials/Tutorial.tsx
  apps/crn-frontend/src/discover/tutorials/TutorialList.tsx
  apps/crn-frontend/src/discover/tutorials/__tests__/Tutorial.test.tsx
  apps/crn-server/src/data-providers/contentful/tutorial.data-provider.ts
  apps/crn-server/test/data-providers/contentful/discover.data-provider.test.ts
  apps/crn-server/test/data-providers/contentful/tutorials.data-provider.test.ts
  apps/crn-server/test/fixtures/discover.fixtures.ts
  apps/crn-server/test/fixtures/tutorials.fixtures.ts
  apps/storybook/src/DiscoverPageBody.stories.tsx
  packages/contentful/migrations/crn/tutorials/20230913101121-update-fields.js
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/tutorials.queries.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
  packages/fixtures/src/discover.ts
  packages/fixtures/src/tutorials.ts
  packages/model/src/tutorials.ts
  packages/react-components/src/index.ts
  packages/react-components/src/organisms/RelatedTutorialsCard.tsx
  packages/react-components/src/organisms/TutorialAdditionalInformationCard.tsx
  packages/react-components/src/organisms/TutorialCard.tsx
  packages/react-components/src/organisms/TutorialHeaderCard.tsx
  packages/react-components/src/organisms/__tests__/RelatedTutorialsCard.test.tsx
  packages/react-components/src/organisms/__tests__/TutorialAdditionalInformationCard.test.tsx
  packages/react-components/src/organisms/__tests__/TutorialCard.test.tsx
  packages/react-components/src/organisms/__tests__/TutorialHeaderCard.test.tsx
  packages/react-components/src/organisms/index.ts
  packages/react-components/src/templates/DiscoverTutorialsCardList.tsx
  packages/react-components/src/templates/TutorialDetailsPage.tsx
  packages/react-components/src/templates/__tests__/DiscoverTutorialsCardList.test.tsx
  packages/react-components/src/templates/__tests__/TutorialsDetailsPage.test.tsx
  packages/react-components/src/templates/index.ts
Labels: crn-create-environment

#3720 GP2HUB-96 Add thumbnail to news
  apps/gp2-server/src/data-providers/news.data-provider.ts
  apps/gp2-server/test/fixtures/news.fixtures.ts
  packages/contentful/migrations/gp2/news/20230925091407-add-thumbnail-field.js
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/news.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/gp2-components/src/molecules/NewsItem.tsx
  packages/gp2-components/src/molecules/__tests__/NewsItem.test.tsx
  packages/model/src/gp2/news.ts
Labels: gp2-create-environment

#3728 GP2HUB-109 gp2Supported as not required
  apps/gp2-server/test/routes/output.route.test.ts
  packages/contentful/migrations/gp2/outputs/20230927125340-make-gp2supported-not-required.js
  packages/gp2-components/src/templates/OutputForm.tsx
  packages/gp2-components/src/templates/__tests__/OutputForm.test.tsx
Labels: gp2-create-environment
