Repository yldio/asap-hub, pull requests merged in 2023-07, with the labels that each got.

#3249 GP2-544 - add migration file to change description
  apps/gp2-server/src/data-providers/contentful/working-group.data-provider.ts
  apps/gp2-server/test/fixtures/working-group.fixtures.ts
  packages/contentful/migrations/gp2/workingGroups/20230630161800-redefine-description.js
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/working-group.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/contentful/src/utils/parse-rich-text.ts
  packages/gp2-components/src/molecules/ExpandableText.tsx
  packages/gp2-components/src/templates/WorkingGroupOverview.tsx
Labels: gp2-create-environment

#3218 CRN-1078 add guides to contentful
  apps/crn-frontend/src/dashboard/Body.tsx
  apps/crn-frontend/src/dashboard/__tests__/Dashboard.test.tsx
  apps/crn-frontend/src/guides/__mocks__/api.ts
  apps/crn-frontend/src/guides/__tests__/api.test.ts
  apps/crn-frontend/src/guides/api.ts
  apps/crn-frontend/src/guides/state.ts
  apps/crn-server/src/app.ts
  apps/crn-server/src/controllers/guides.controller.ts
  apps/crn-server/src/data-providers/contentful/discover.data-provider.ts
  apps/crn-server/src/data-providers/contentful/guides.data-provider.ts
  apps/crn-server/src/data-providers/types/guide.data-provider.types.ts
  apps/crn-server/src/data-providers/types/index.ts
  apps/crn-server/src/routes/guides.route.ts
  apps/crn-server/src/utils/reducer.ts
  apps/crn-server/test/controllers/guides.controller.test.ts
  apps/crn-server/test/data-providers/contentful/guides.data-provider.test.ts
  apps/crn-server/test/fixtures/guides.fixture.ts
  apps/crn-server/test/mocks/guide-controller.mock.ts
  apps/crn-server/test/routes/guides.route.test.ts
  apps/orcid-user-profile-script/src/__tests__/index.test.ts
  apps/storybook/src/DashboardPageBody.stories.tsx
  packages/contentful/migrations/crn/guides/202306210808-create-guides-content-model.js
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/guides.queries.ts
  packages/contentful/src/crn/queries/index.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
  packages/fixtures/src/guides.ts
  packages/fixtures/src/index.ts
  packages/model/src/guide.ts
  packages/model/src/index.ts
  packages/react-components/src/templates/DashboardPageBody.tsx
  packages/react-components/src/templates/__tests__/DashboardPageBody.test.tsx
Labels: crn-create-environment

#3267 update news in cms
  apps/gp2-server/src/data-providers/contentful/news.data-provider.ts
  apps/gp2-server/src/data-providers/news.data-provider.ts
  apps/gp2-server/test/fixtures/news.fixtures.ts
  packages/contentful/migrations/gp2/news/20230705113430-update-news.js
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/news.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/fixtures/src/gp2/news.ts
  packages/gp2-components/src/organisms/DashboardNews.tsx
  packages/gp2-components/src/organisms/__tests__/DashboardNews.test.tsx
  packages/model/src/gp2/news.ts
Labels: gp2-create-environment

#3262 GP2-559 - External links
  packages/contentful/migrations/gp2/users/20230705100800-update-links.js
Labels: gp2-create-environment

#3274 CT-63 Change question and jobTitle field types in users
  packages/contentful/migrations/crn/users/20230706172310-change-questions-and-jobTitle-types.js
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
Labels: crn-create-environment

#3269 GP2-563 - Make Tools and Tutorials dynamic
  apps/gp2-frontend/src/dashboard/Body.tsx
  apps/gp2-server/src/controllers/dashboard.controller.ts
  apps/gp2-server/src/data-providers/contentful/dashboard.data-provider.ts
  apps/gp2-server/src/data-providers/contentful/utils/guides.ts
  apps/gp2-server/src/data-providers/contentful/utils/index.ts
  apps/gp2-server/test/controllers/dashboard.controller.test.ts
  apps/gp2-server/test/data-providers/contentful/dashboard.data-provider.test.ts
  apps/gp2-server/test/fixtures/dashboard.fixtures.ts
  packages/contentful/migrations/gp2/dashboard/20230705154000-add-guides.js
  packages/contentful/migrations/gp2/guide/6ekgyp1432o9-create-guide-1688567524615.js
  packages/contentful/migrations/gp2/guideDescription/6ekgyp1432o9-create-guide-description-1688567524615.js
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/dashboard.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/contentful/src/mocks/graphql-client.mock.ts
  packages/fixtures/src/gp2/dashboard.ts
  packages/gp2-components/src/molecules/GuideDescription.tsx
  packages/gp2-components/src/molecules/__tests__/GuideDescription.test.tsx
  packages/gp2-components/src/templates/DashboardPageBody.tsx
  packages/gp2-components/src/templates/__tests__/DashboardPageBody.test.tsx
  packages/model/src/gp2/dashboard.ts
  packages/model/src/gp2/guides.ts
  packages/model/src/gp2/index.ts
Labels: gp2-create-environment

#3241 Add research output content model and data provider
  .github/workflows/on-push-branch.yml
  .github/workflows/on-push-master.yml
  .github/workflows/reusable-test.yml
  apps/crn-server/package.json
  apps/crn-server/src/app.ts
  apps/crn-server/src/controllers/research-output.controller.ts
  apps/crn-server/src/data-providers/contentful/research-output.data-provider.ts
  apps/crn-server/src/data-providers/contentful/user.data-provider.ts
  apps/crn-server/src/data-providers/research-output.data-provider.ts
  apps/crn-server/src/data-providers/transformers/research-output.ts
  apps/crn-server/src/data-providers/types/index.ts
  apps/crn-server/src/data-providers/types/research-output.data-provider.types.ts
  apps/crn-server/src/routes/research-output.route.ts
  apps/crn-server/src/utils/feature-flag.ts
  apps/crn-server/src/utils/fetch-all.ts
  apps/crn-server/test/controllers/research-output.controller.test.ts
  apps/crn-server/test/controllers/research-tag.controller.test.ts
  apps/crn-server/test/data-providers/contentful/research-output.data-provider.test.ts
  apps/crn-server/test/data-providers/research-output.data-provider.test.ts
  apps/crn-server/test/fixtures/research-output.fixtures.ts
  apps/crn-server/test/helpers/retryable.ts
  apps/crn-server/test/integration/common/reminders.integration-test.ts
  apps/crn-server/test/integration/common/research-outputs.integration-test.ts
  apps/crn-server/test/integration/common/research-tags.integration-test.ts
  apps/crn-server/test/integration/common/teams.integration-test.ts
  apps/crn-server/test/integration/common/users.integration-test.ts
  apps/crn-server/test/integration/contentful/research-outputs.integration-test.ts
  apps/crn-server/test/integration/fixtures/contentful.ts
  apps/crn-server/test/integration/fixtures/index.ts
  apps/crn-server/test/integration/fixtures/research-output.ts
  apps/crn-server/test/integration/fixtures/squidex.ts
  apps/crn-server/test/integration/fixtures/types.ts
  apps/crn-server/test/integration/fixtures/user.ts
  apps/crn-server/test/integration/fixtures/working-group.ts
  apps/crn-server/test/integration/helpers/app.ts
  apps/crn-server/test/integration/helpers/matchers.ts
  apps/crn-server/test/integration/helpers/retryable.ts
  apps/crn-server/test/integration/squidex/reminders.integration-test.ts
  apps/crn-server/test/integration/squidex/research-outputs.integration-test.ts
  apps/crn-server/test/routes/research-output.route.test.ts
  apps/crn-server/test/utils/fetch-all.test.ts
  jest-integration.config.js
  packages/contentful/migrations/crn/researchOutputs/20230626131700-research-outputs.js
  packages/contentful/migrations/crn/researchOutputs/20230704155200-related-events.js
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/index.ts
  packages/contentful/src/crn/queries/research-outputs.queries.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
  packages/contentful/src/utils/patch-publish.ts
  packages/contentful/src/utils/poll-content.ts
  packages/contentful/test/utils/patch-publish.test.ts
  packages/model/src/research-output.ts
  packages/server-common/src/middleware/error-handler.ts
  packages/squidex/src/entities/crn/working-group.ts
  yarn.lock
Labels: contentful, crn-create-environment

#3318 GP2-566- set project start date as optional
  apps/gp2-server/src/data-providers/project.data-provider.ts
  apps/gp2-server/test/data-providers/project.data-provider.test.ts
  packages/contentful/migrations/gp2/projects/20230714101700-update-validation-startdate.js
  packages/gp2-components/src/organisms/ProjectSummaryFooter.tsx
  packages/gp2-components/src/organisms/__tests__/ProjectSummaryFooter.test.tsx
  packages/model/src/gp2/project.ts
Labels: gp2-create-environment

#3291 Add handlers for indexing data from contentful
  apps/crn-server/scripts/export-entity.ts
  apps/crn-server/serverless.ts
  apps/crn-server/src/dependencies/research-outputs.dependencies.ts
  apps/crn-server/src/dependencies/research-tags.dependencies.ts
  apps/crn-server/src/handlers/event-bus.ts
  apps/crn-server/src/handlers/event/algolia-index-external-author-events-handler.ts
  apps/crn-server/src/handlers/event/algolia-index-group-events-handler.ts
  apps/crn-server/src/handlers/event/algolia-index-team-events-handler.ts
  apps/crn-server/src/handlers/event/algolia-index-user-events-handler.ts
  apps/crn-server/src/handlers/lab/algolia-index-lab-users-handler.ts
  apps/crn-server/src/handlers/research-output/algolia-index-research-output-handler.ts
  apps/crn-server/src/handlers/teams/algolia-index-team-reasearch-outputs-handler.ts
  apps/crn-server/src/handlers/teams/algolia-index-team-research-outputs-handler.ts
  apps/crn-server/src/handlers/teams/algolia-index-team-users-handler.ts
  apps/crn-server/test/dependencies/research-outputs.dependencies.test.ts
  apps/crn-server/test/dependencies/research-tags.dependencies.test.ts
  apps/crn-server/test/fixtures/research-output.fixtures.ts
  apps/crn-server/test/fixtures/teams.fixtures.ts
  apps/crn-server/test/handlers/research-output/algolia-index-research-output-handler.test.ts
  apps/crn-server/test/handlers/teams/algolia-index-team-research-outputs-handler.test.ts
  packages/algolia/src/client.ts
  packages/contentful/src/crn/types/webhook.ts
Labels: contentful, crn-create-environment

#3355 CT-71 Research Output content model references to research outputs
  apps/crn-server/src/data-providers/contentful/team.data-provider.ts
  apps/crn-server/src/data-providers/contentful/user.data-provider.ts
  apps/crn-server/test/data-providers/contentful/interest-groups.data-provider.test.ts
  apps/crn-server/test/data-providers/contentful/teams.data-provider.test.ts
  apps/crn-server/test/data-providers/contentful/users.data-provider.test.ts
  apps/crn-server/test/fixtures/teams.fixtures.ts
  apps/crn-server/test/fixtures/users.fixtures.ts
  packages/contentful/migrations/crn/teams/20230719115225-add-proposal-field.js
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/interest-groups.queries.ts
  packages/contentful/src/crn/queries/teams.queries.ts
  packages/contentful/src/crn/queries/users.queries.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
Labels: crn-create-environment

#3354 Add usage notes Markdown field to research outputs
  apps/crn-frontend/src/shared-research/export.ts
  apps/crn-server/src/data-providers/contentful/research-output.data-provider.ts
  apps/crn-server/test/data-providers/contentful/research-output.data-provider.test.ts
  apps/crn-server/test/fixtures/research-output.fixtures.ts
  packages/contentful/migrations/crn/researchOutputs/20230719095600-usage-notes.js
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/research-outputs.queries.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
  packages/model/src/research-output.ts
  packages/react-components/src/templates/ResearchOutputForm.tsx
  packages/react-components/src/templates/SharedResearchOutput.tsx
  packages/react-components/src/templates/__tests__/ResearchOutputForm.test.tsx
  packages/react-components/src/templates/__tests__/SharedResearchOutput.test.tsx
Labels: contentful, crn-create-environment
