Repository yldio/asap-hub, pull requests merged in 2023-10, with the labels that each got.

#3715 [CRN-1500] refactor: remove contentful suffix from indexes
  .github/actions/algolia-import-entity/action.yml
  .github/workflows/reusable-create-environment.yml
  .github/workflows/reusable-crn-algolia-sync.yml
  .github/workflows/reusable-deployment.yml
  apps/crn-frontend/src/hooks/__tests__/algolia.test.tsx
  apps/crn-frontend/src/hooks/algolia.ts
  apps/crn-server/serverless.ts
Labels: crn-create-environment

#3658 first pass on algolia user search
  apps/gp2-frontend/src/__fixtures__/algolia.ts
  apps/gp2-frontend/src/outputs/OutputList.tsx
  apps/gp2-frontend/src/outputs/__tests__/OutputDirectory.test.tsx
  apps/gp2-frontend/src/outputs/__tests__/Routes.test.tsx
  apps/gp2-frontend/src/outputs/export.ts
  apps/gp2-frontend/src/users/UserDirectory.tsx
  apps/gp2-frontend/src/users/UserList.tsx
  apps/gp2-frontend/src/users/__mocks__/api.ts
  apps/gp2-frontend/src/users/__tests__/Routes.test.tsx
  apps/gp2-frontend/src/users/__tests__/UserDirectory.test.tsx
  apps/gp2-frontend/src/users/__tests__/UserList.test.tsx
  apps/gp2-frontend/src/users/__tests__/api.test.tsx
  apps/gp2-frontend/src/users/api.ts
  apps/gp2-frontend/src/users/state.ts
  apps/gp2-server/scripts/import-keywords.ts
  apps/gp2-server/src/data-providers/user.data-provider.ts
  apps/gp2-server/src/handlers/user/algolia-index-handler.ts
  apps/gp2-server/test/data-providers/user.data-provider.test.ts
  apps/gp2-server/test/fixtures/user.fixtures.ts
  apps/gp2-server/test/handlers/user/algolia-index-handler.test.ts
  apps/storybook/src/gp2-components/FilterPills.stories.tsx
  apps/storybook/src/gp2-components/UsersPageList.stories.tsx
  packages/algolia/schema/gp2/algolia-reverse-timestamp-schema.json
  packages/algolia/schema/gp2/algolia-schema.json
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/user.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/fixtures/src/gp2/keywords.ts
  packages/gp2-components/src/organisms/FilterPills.tsx
  packages/gp2-components/src/organisms/FiltersModal.tsx
  packages/gp2-components/src/organisms/__tests__/FilterPills.test.tsx
  packages/gp2-components/src/organisms/__tests__/FiltersModal.test.tsx
  packages/gp2-components/src/templates/UsersPageList.tsx
  packages/gp2-components/src/templates/__tests__/UsersPageList.test.tsx
  packages/model/src/gp2/common.ts
  packages/model/src/gp2/keywords.ts
  packages/model/src/gp2/user.ts
  packages/server-common/src/validation/validation.ts
Labels: gp2-create-environment

#3731 Layout Search Button & Clickable Tags
  apps/crn-frontend/src/tags/TagsList.tsx
  apps/storybook/src/Tag.stories.tsx
  apps/storybook/src/TagList.stories.tsx
  packages/react-components/src/atoms/NavigationLink.tsx
  packages/react-components/src/atoms/Tag.tsx
  packages/react-components/src/atoms/__tests__/Tag.test.tsx
  packages/react-components/src/molecules/TagList.tsx
  packages/react-components/src/molecules/__tests__/TagList.test.tsx
  packages/react-components/src/templates/Layout.tsx
  packages/react-components/src/templates/SharedResearchOutput.tsx
  packages/routing/src/tags.ts
Labels: crn-create-environment

#3743 [CRN-1580] refactor legacy description field
  packages/contentful/migrations/crn/researchOutputs/20231003111043-disable-legacy-description-field.js
  packages/contentful/migrations/crn/researchOutputs/20231003112242-add-legacy-label-to-description-field.js
Labels: crn-create-environment

#3744 adds related outputs migration
  apps/gp2-frontend/src/outputs.ts
  apps/gp2-frontend/src/outputs/ShareOutput.tsx
  apps/gp2-frontend/src/outputs/__tests__/ShareOutput.test.tsx
  apps/gp2-frontend/src/outputs/__tests__/api.test.tsx
  apps/gp2-frontend/src/outputs/api.ts
  apps/gp2-frontend/src/projects/CreateProjectOutput.tsx
  apps/gp2-frontend/src/projects/__tests__/CreateProjectOutput.test.tsx
  apps/gp2-frontend/src/working-groups/CreateWorkingGroupOutput.tsx
  apps/gp2-frontend/src/working-groups/__tests__/CreateWorkingGroupOutput.test.tsx
  apps/gp2-server/src/controllers/output.controller.ts
  apps/gp2-server/src/data-providers/output.data-provider.ts
  apps/gp2-server/src/validation/output.validation.ts
  apps/gp2-server/test/data-providers/output.data-provider.test.ts
  apps/gp2-server/test/fixtures/output.fixtures.ts
  packages/contentful/migrations/gp2/outputs/20231003132301-add-outputs.js
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/output.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/fixtures/src/gp2/outputs.ts
  packages/gp2-components/src/icons/output-article.tsx
  packages/gp2-components/src/icons/output-code-software.tsx
  packages/gp2-components/src/icons/output-dataset.tsx
  packages/gp2-components/src/icons/output-form.tsx
  packages/gp2-components/src/icons/output-gp2-reports.tsx
  packages/gp2-components/src/icons/output-training-materials.tsx
  packages/gp2-components/src/organisms/OutputRelatedResearchCard.tsx
  packages/gp2-components/src/organisms/__tests__/OutputRelatedResearchCard.test.tsx
  packages/gp2-components/src/templates/OutputForm.tsx
  packages/gp2-components/src/templates/__tests__/OutputForm-validation-identifier.test.tsx
  packages/gp2-components/src/templates/__tests__/OutputForm-validation-type.test.tsx
  packages/gp2-components/src/templates/__tests__/OutputForm-validation-url.test.tsx
  packages/gp2-components/src/templates/__tests__/OutputForm.test.tsx
  packages/model/src/gp2/output.ts
  packages/react-components/src/organisms/ResearchOutputRelatedResearchCard.tsx
  packages/react-components/src/utils/research-output-form.ts
Labels: gp2-create-environment

#3763 GP2HUB-97- clean up
  apps/gp2-server/scripts/migrate-entity-outputs.ts
  apps/gp2-server/src/data-providers/output.data-provider.ts
  apps/gp2-server/test/data-providers/output.data-provider.test.ts
  packages/contentful/migrations/gp2/outputs/20231003132301-delete-related-entity.js
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/output.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/model/src/gp2/output.ts
Labels: gp2-create-environment

#3742 feat: Add ORCID sync to GP2 user model
  apps/crn-server/serverless.ts
  apps/crn-server/src/controllers/user.controller.ts
  apps/crn-server/src/handlers/user/cronjob-sync-orcid.ts
  apps/crn-server/test/handlers/user/cronjob-sync-orcid.test.ts
  apps/crn-server/test/integration/orcid.integration-test.ts
  apps/gp2-frontend/src/onboarding/__tests__/AdditionalDetails.test.tsx
  apps/gp2-frontend/src/onboarding/__tests__/Preview.test.tsx
  apps/gp2-frontend/src/users/__tests__/UserDetail.test.tsx
  apps/gp2-server/serverless.ts
  apps/gp2-server/src/controllers/user.controller.ts
  apps/gp2-server/src/data-providers/transformers/users.ts
  apps/gp2-server/src/data-providers/user.data-provider.ts
  apps/gp2-server/src/handlers/user/cronjob-sync-orcid.ts
  apps/gp2-server/src/handlers/user/sync-orcid-handler.ts
  apps/gp2-server/src/validation/user.validation.ts
  apps/gp2-server/test/controllers/user.controller.test.ts
  apps/gp2-server/test/data-providers/transformers/users.test.ts
  apps/gp2-server/test/data-providers/user.data-provider.test.ts
  apps/gp2-server/test/fixtures/cronjob-sync-orcid.fixtures.ts
  apps/gp2-server/test/fixtures/orcid.fixtures.ts
  apps/gp2-server/test/fixtures/user.fixtures.ts
  apps/gp2-server/test/handlers/user/cronjob-sync-orcid.test.ts
  apps/gp2-server/test/handlers/user/sync-orcid-handler.test.ts
  apps/gp2-server/test/mocks/user.controller.mock.ts
  apps/gp2-server/test/routes/user.route.test.ts
  apps/gp2-server/test/utils/types.d.ts
  jest.config.wallaby.js
  packages/contentful/migrations/gp2/users/20230929141806-add-orcid-fields.js
  packages/contentful/migrations/gp2/users/20231006071523-revert-orcid-validation.js
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/user.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/fixtures/src/gp2/users.ts
  packages/gp2-components/src/organisms/ExternalProfilesModal.tsx
  packages/gp2-components/src/organisms/__tests__/ExternalProfilesModal.test.tsx
  packages/model/src/common.ts
  packages/model/src/gp2/user.ts
  packages/model/src/user.ts
  packages/server-common/src/utils/fetch-orcid.ts
  packages/server-common/src/utils/index.ts
  packages/server-common/src/validation/validation.ts
  packages/server-common/test/fixtures/users.fixtures.ts
  packages/server-common/test/utils/fetch-orcid.test.ts
  packages/validation/src/expressions.ts
Labels: gp2-create-environment

#3756 [GP2HUB-110] addes relatedEvents to schema
  apps/crn-server/test/data-providers/contentful/research-output.data-provider.test.ts
  apps/gp2-frontend/src/outputs/__tests__/api.test.tsx
  apps/gp2-frontend/src/projects/__tests__/CreateProjectOutput.test.tsx
  apps/gp2-frontend/src/working-groups/__tests__/CreateWorkingGroupOutput.test.tsx
  apps/gp2-server/src/controllers/output.controller.ts
  apps/gp2-server/src/data-providers/output.data-provider.ts
  apps/gp2-server/src/validation/output.validation.ts
  apps/gp2-server/test/data-providers/output.data-provider.test.ts
  apps/gp2-server/test/fixtures/output.fixtures.ts
  packages/contentful/migrations/gp2/outputs/20231009144200-related-events.js
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/output.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/fixtures/src/gp2/outputs.ts
  packages/gp2-components/src/templates/OutputForm.tsx
  packages/gp2-components/src/templates/__tests__/OutputForm.test.tsx
  packages/model/src/gp2/output.ts
Labels: gp2-create-environment

#3807 [GP2HUB-137] adds study link to cohorts
  packages/contentful/migrations/gp2/contributingCohorts/20231016110809-add-study-link.js
Labels: gp2-create-environment

#3826 [CRN-1518] refactor: migrate created date field to app extension
  packages/contentful/migrations/crn/researchOutputs/20231012113418-change-created-date-to-auto-populate-field.js
Labels: crn-create-environment

#3787 GP2HUB-131 - DashboardPageBody past event section
  apps/gp2-frontend/src/dashboard/Body.tsx
  apps/gp2-frontend/src/dashboard/__tests__/Dashboard.test.tsx
  apps/storybook/src/gp2-components/DashboardPageBody.stories.tsx
  packages/gp2-components/src/templates/DashboardPageBody.tsx
  packages/gp2-components/src/templates/__tests__/DashboardPageBody.test.tsx
  packages/react-components/src/molecules/EventInfo.tsx
  packages/react-components/src/molecules/__tests__/EventInfo.test.tsx
  packages/react-components/src/organisms/DashboardUpcomingEvents.tsx
  packages/react-components/src/organisms/EventCard.tsx
  packages/react-components/src/organisms/PastEventsDashboardCard.tsx
Labels: gp2-create-environment

#3801 [CRN-1529] refactor: remove guidance field
  apps/crn-frontend/src/about/__tests__/About.test.tsx
  apps/crn-frontend/src/about/__tests__/Routes.test.tsx
  apps/crn-server/src/data-providers/contentful/discover.data-provider.ts
  apps/crn-server/test/data-providers/contentful/discover.data-provider.test.ts
  apps/crn-server/test/fixtures/discover.fixtures.ts
  apps/crn-server/test/routes/discover.route.test.ts
  apps/storybook/src/DiscoverPageBody.stories.tsx
  packages/contentful/migrations/crn/discover/20231013125022-remove-guidance-field.js
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/discover.queries.ts
  packages/fixtures/src/discover.ts
  packages/model/src/discover.ts
  packages/react-components/src/templates/DiscoverPageBody.tsx
  packages/react-components/src/templates/__tests__/DiscoverPageBody.test.tsx
Labels: crn-create-environment

#3855 [CRN-1529] remove training collection field
  packages/contentful/migrations/crn/discover/20231025091922-remove-training-field.js
Labels: crn-create-environment

#3862 [CRN-1534] fix PR environment configuration
  .github/actions/setup-environment/action.yml
Labels: crn-create-environment, gp2-create-environment

#3815 create pr tenant for auth0
  .github/actions/setup-environment/action.yml
  .github/workflows/on-push-branch.yml
  .github/workflows/reusable-deployment.yml
  .github/workflows/reusable-test.yml
  apps/auth0/src/post-login-add-metadata.ts
  apps/crn-auth-frontend/__tests__/html-snapshot.build-output-test.ts
  apps/gp2-auth-frontend/__tests__/html-snapshot.build-output-test.ts
  packages/auth/src/pubKeys/crn-auth0-pubkeys.pr.json
  packages/auth/src/pubKeys/gp2-auth0-pubkeys.pr.json
  packages/auth/src/pubKeys/index.ts
Labels: use-pr-auth0-tenant
