Repository yldio/asap-hub, pull requests merged in 2024-08, with the labels that each got.

#4339 ASAP-509 Engagement Sorting
  apps/asap-cli/src/scripts/algolia/set-analytics-settings.ts
  apps/crn-frontend/src/analytics/engagement/Engagement.tsx
  apps/crn-frontend/src/analytics/engagement/__tests__/Engagement.test.tsx
  apps/crn-frontend/src/analytics/engagement/__tests__/api.test.tsx
  apps/crn-frontend/src/analytics/engagement/state.ts
  apps/crn-server/src/utils/analytics/engagement.ts
  apps/crn-server/test/data-providers/contentful/analytics/engagement.analytics.data-provider.test.ts
  apps/crn-server/test/fixtures/analytics.fixtures.ts
  apps/crn-server/test/utils/analytics/engagement.test.ts
  packages/algolia/schema/crn-analytics/events_asc-schema.json
  packages/algolia/schema/crn-analytics/events_desc-schema.json
  packages/algolia/schema/crn-analytics/members_asc-schema.json
  packages/algolia/schema/crn-analytics/members_desc-schema.json
  packages/algolia/schema/crn-analytics/total_speakers_asc-schema.json
  packages/algolia/schema/crn-analytics/total_speakers_desc-schema.json
  packages/algolia/schema/crn-analytics/unique_speakers_all_roles_asc-schema.json
  packages/algolia/schema/crn-analytics/unique_speakers_all_roles_desc-schema.json
  packages/algolia/schema/crn-analytics/unique_speakers_all_roles_percentage_asc-schema.json
  packages/algolia/schema/crn-analytics/unique_speakers_all_roles_percentage_desc-schema.json
  packages/algolia/schema/crn-analytics/unique_speakers_key_personnel_asc-schema.json
  packages/algolia/schema/crn-analytics/unique_speakers_key_personnel_desc-schema.json
  packages/algolia/schema/crn-analytics/unique_speakers_key_personnel_percentage_asc-schema.json
  packages/algolia/schema/crn-analytics/unique_speakers_key_personnel_percentage_desc-schema.json
  packages/model/src/analytics.ts
  packages/react-components/src/icons/general-sorting.tsx
  packages/react-components/src/icons/hashtag.tsx
  packages/react-components/src/icons/index.ts
  packages/react-components/src/icons/percentage.tsx
  packages/react-components/src/organisms/EngagementSort.tsx
  packages/react-components/src/organisms/EngagementTable.tsx
  packages/react-components/src/organisms/__tests__/EngagementSort.test.tsx
  packages/react-components/src/organisms/__tests__/EngagementTable.test.tsx
  packages/react-components/src/templates/AnalyticsEngagementPageBody.tsx
  packages/react-components/src/templates/__tests__/AnalyticsEngagementPageBody.test.tsx
Labels: crn-create-environment

#4343 update field when position is removed
  packages/contentful-app-extensions/user-positions/src/locations/Field.tsx
  packages/contentful-app-extensions/user-positions/src/test/locations/Field.test.tsx
Labels: gp2-create-environment

#4349 ASAP-593 Adding Identifiers to Output Versions
  apps/crn-server/src/controllers/research-output.controller.ts
  apps/crn-server/test/controllers/research-output.controller.test.ts
  apps/gp2-server/src/controllers/output.controller.ts
  apps/gp2-server/test/controllers/output.controller.test.ts
  packages/contentful/migrations/crn/researchOutputs/20240808084217-add-identifier-fields-to-versions.js
  packages/contentful/migrations/gp2/outputs/20240808084847-add-identifier-fields-to-versions.js
  packages/model/src/gp2/output.ts
  packages/model/src/research-output.ts
Labels: crn-create-environment, gp2-create-environment

#4350 [ASAP-610] - ig membership counts should not include individual roles
  apps/crn-server/src/utils/analytics/leadership.ts
  apps/crn-server/test/data-providers/contentful/analytics/leadership-and-membership.analytics.data-provider.test.ts
  apps/crn-server/test/utils/analytics/leadership.test.ts
Labels: crn-create-environment

#4352 ASAP-506 Engagement Search Feature
  apps/crn-frontend/src/analytics/engagement/Engagement.tsx
  apps/crn-frontend/src/analytics/engagement/__tests__/Engagement.test.tsx
  apps/crn-frontend/src/analytics/engagement/__tests__/api.test.tsx
  apps/crn-frontend/src/analytics/engagement/api.ts
  apps/crn-server/scripts/export-analytics.ts
  packages/react-components/src/templates/AnalyticsEngagementPageBody.tsx
  packages/react-components/src/templates/__tests__/AnalyticsEngagementPageBody.test.tsx
Labels: crn-create-environment

#4354 ASAP-632 Add research theme to research outputs and users
  apps/crn-frontend/src/shared-research/export.ts
  apps/crn-server/src/data-providers/contentful/research-output.data-provider.ts
  apps/crn-server/src/data-providers/contentful/user.data-provider.ts
  apps/crn-server/src/routes/public/research-output.route.ts
  apps/crn-server/test/data-providers/contentful/research-output.data-provider.test.ts
  apps/crn-server/test/data-providers/contentful/users.data-provider.test.ts
  apps/crn-server/test/fixtures/users.fixtures.ts
  packages/contentful/migrations/crn/researchOutputs/20240819165704-add-research-theme-field.js
  packages/contentful/migrations/crn/users/20240819165216-add-research-theme-field.js
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/research-outputs.queries.ts
  packages/contentful/src/crn/queries/users.queries.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
  packages/model/src/research-output.ts
  packages/model/src/user.ts
Labels: crn-create-environment

#4356 update standard deviation to quartiles
  apps/asap-cli/src/cli.ts
  apps/asap-cli/src/scripts/algolia/performance/collaboration.ts
  apps/asap-cli/src/scripts/algolia/performance/productivity.ts
  apps/asap-cli/src/scripts/algolia/process-performance.ts
  apps/asap-cli/src/scripts/algolia/tests/process-performance.test.ts
  packages/react-components/src/molecules/CaptionItem.tsx
  packages/react-components/src/molecules/__tests__/CaptionItem.test.tsx
Labels: crn-create-environment

#4353 Add KeyResourceTable & AdditionalFiles fields to Manuscript Form
  apps/crn-frontend/src/network/teams/__tests__/TeamManuscript.test.tsx
  apps/crn-frontend/src/network/teams/__tests__/TeamProfile.test.tsx
  apps/crn-frontend/src/network/teams/__tests__/api.test.ts
  apps/crn-frontend/src/network/teams/api.ts
  apps/crn-frontend/src/network/teams/state.ts
  apps/crn-server/src/controllers/manuscript.controller.ts
  apps/crn-server/src/data-providers/contentful/manuscript.data-provider.ts
  apps/crn-server/src/routes/manuscript.route.ts
  apps/crn-server/test/controllers/manuscript.controller.test.ts
  apps/crn-server/test/data-providers/contentful/manuscript.data-provider.test.ts
  apps/crn-server/test/fixtures/manuscript.fixtures.ts
  apps/crn-server/test/fixtures/teams.fixtures.ts
  apps/crn-server/test/routes/manuscript.route.test.ts
  packages/contentful/migrations/crn/manuscripts/20240815121558-add-keyresourcetable-additionalfiles-fields.js
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/manuscript.queries.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
  packages/contentful/src/utils/parse-fields.ts
  packages/contentful/test/utils/parse-fields.test.ts
  packages/fixtures/src/manuscripts.ts
  packages/model/src/manuscript.ts
  packages/react-components/src/molecules/LabeledFileField.tsx
  packages/react-components/src/molecules/ManuscriptFileSection.tsx
  packages/react-components/src/molecules/__tests__/LabeledFileField.test.tsx
  packages/react-components/src/organisms/ManuscriptCard.tsx
  packages/react-components/src/organisms/__tests__/ManuscriptCard.test.tsx
  packages/react-components/src/templates/ManuscriptForm.tsx
  packages/react-components/src/templates/__tests__/ManuscriptForm.test.tsx
Labels: crn-create-environment

#4359 ASAP-513 Engagement Custom Timeframe
  apps/asap-cli/src/cli.ts
  apps/crn-frontend/src/analytics/engagement/Engagement.tsx
  apps/crn-frontend/src/analytics/engagement/__tests__/Engagement.test.tsx
  apps/crn-frontend/src/analytics/engagement/__tests__/api.test.tsx
  apps/crn-frontend/src/analytics/engagement/api.ts
  apps/crn-frontend/src/analytics/engagement/state.ts
  apps/crn-server/scripts/export-analytics.ts
  packages/react-components/src/templates/AnalyticsEngagementPageBody.tsx
Labels: crn-create-environment
