Repository yldio/asap-hub, pull requests merged in 2024-02, with the labels that each got.

#4143 Make city required on KeyInformationModal
  apps/storybook/src/gp2-components/UserCard.stories.tsx
  packages/fixtures/src/gp2/users.ts
  packages/gp2-components/src/molecules/EditableCard.tsx
  packages/gp2-components/src/molecules/UserCardInfo.tsx
  packages/gp2-components/src/molecules/__tests__/EditableCard.test.tsx
  packages/gp2-components/src/molecules/__tests__/UserCardInfo.test.tsx
  packages/gp2-components/src/organisms/KeyInformationModal.tsx
  packages/gp2-components/src/organisms/UserCard.tsx
  packages/gp2-components/src/organisms/UserDetailHeaderCard.tsx
  packages/gp2-components/src/organisms/__tests__/KeyInformationModal.test.tsx
  packages/gp2-components/src/organisms/__tests__/UserCard.test.tsx
  packages/gp2-components/src/organisms/__tests__/UserDetailHeaderCard.test.tsx
Labels: gp2-create-environment

#4145 Add trainee to team membership role
  apps/crn-server/src/data-providers/transformers/team.ts
  packages/contentful/migrations/crn/teamMembership/20240201105424-add-trainee-role.ts
  packages/model/src/team.ts
  packages/react-components/src/organisms/UserTeamsTabbedCard.tsx
Labels: crn-create-environment

#4142 ASAP-319 Add state/province to the hub
  apps/auth0/src/__tests__/post-login-add-metadata.test.ts
  apps/crn-frontend/src/network/users/__tests__/UserProfile.test.tsx
  apps/crn-server/src/data-providers/contentful/user.data-provider.ts
  apps/crn-server/src/validation/user.validation.ts
  apps/gp2-server/scripts/import-users.ts
  apps/gp2-server/src/data-providers/user.data-provider.ts
  apps/gp2-server/src/validation/user.validation.ts
  apps/gp2-server/test/fixtures/user.fixtures.ts
  apps/storybook/src/gp2-components/UserCard.stories.tsx
  packages/algolia/schema/crn/algolia-reverse-timestamp-schema.json
  packages/algolia/schema/crn/algolia-schema.json
  packages/algolia/schema/gp2/algolia-reverse-timestamp-schema.json
  packages/algolia/schema/gp2/algolia-schema.json
  packages/contentful/migrations/crn/users/20240131091638-add-state-province-field.js
  packages/contentful/migrations/gp2/users/20240131091646-add-state-province-field.js
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/users.queries.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/user.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/fixtures/src/gp2/users.ts
  packages/fixtures/src/users.ts
  packages/gp2-components/src/molecules/UserCardInfo.tsx
  packages/gp2-components/src/molecules/__tests__/UserCardInfo.test.tsx
  packages/gp2-components/src/organisms/KeyInformationModal.tsx
  packages/gp2-components/src/organisms/UserCard.tsx
  packages/gp2-components/src/organisms/UserDetailHeaderCard.tsx
  packages/gp2-components/src/organisms/__tests__/KeyInformationModal.test.tsx
  packages/gp2-components/src/organisms/__tests__/UserCard.test.tsx
  packages/gp2-components/src/organisms/__tests__/UserDetailHeader.test.tsx
  packages/gp2-components/src/organisms/__tests__/UserDetailHeaderCard.test.tsx
  packages/gp2-components/src/templates/__tests__/OnboardingCoreDetails.test.tsx
  packages/gp2-components/src/templates/__tests__/OnboardingPreview.test.tsx
  packages/gp2-components/src/templates/__tests__/UserDetailPage.test.tsx
  packages/model/src/gp2/user.ts
  packages/model/src/user.ts
  packages/react-components/src/index.ts
  packages/react-components/src/molecules/UserProfilePersonalText.tsx
  packages/react-components/src/molecules/__tests__/UserProfilePersonalText.test.tsx
  packages/react-components/src/templates/PersonalInfoModal.tsx
  packages/react-components/src/templates/UserProfileHeader.tsx
  packages/react-components/src/templates/__tests__/PersonalInfoModal.test.tsx
  packages/react-components/src/utils/__tests__/user.test.ts
  packages/react-components/src/utils/index.ts
  packages/react-components/src/utils/user.ts
  packages/validation/src/fixtures/gp2/user.fixtures.ts
Labels: crn-create-environment, gp2-create-environment

#4150 [ASAP-332] - implement researchTags fetchById
  apps/crn-frontend/src/__tests__/Onboardable.test.tsx
  apps/crn-frontend/src/hooks/__tests__/onboarding.test.tsx
  apps/crn-frontend/src/hooks/onboarding.tsx
  apps/crn-server/src/data-providers/contentful/research-tag.data-provider.ts
  apps/crn-server/test/data-providers/contentful/research-tags.data-provider.test.ts
  apps/crn-server/test/fixtures/research-tag.fixtures.ts
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/research-tags.queries.ts
  packages/validation/src/__tests__/user.test.ts
  packages/validation/src/fixtures/user.fixtures.ts
  packages/validation/src/user.ts
Labels: crn-create-environment

#4148 ASAP-328 Adjustments to ActiveCampaign push data
  apps/crn-server/serverless.ts
  apps/crn-server/src/handlers/teams/sync-active-campaign-team-member-status.ts
  apps/crn-server/src/handlers/user/sync-active-campaign-contact.ts
  apps/crn-server/test/handlers/teams/sync-active-campaign-team-member-status.test.ts
  apps/crn-server/test/handlers/user/sync-active-campaign-contact.test.ts
  apps/gp2-server/src/handlers/user/sync-active-campaign-contact.ts
  apps/gp2-server/test/handlers/user/sync-active-campaign-contact.test.ts
  packages/server-common/src/handlers/user/sync-active-campaign-contact-factory.ts
  packages/server-common/src/utils/active-campaign.ts
  packages/server-common/test/handlers/user/sync-active-campaign-contact-factory.test.ts
  packages/server-common/test/mocks/active-campaign.mock.ts
  packages/server-common/test/utils/active-campaign.test.ts
Labels: crn-create-environment, gp2-create-environment

#4157 ASAP-335 Active Campaign - Remove alumni from lists
  packages/server-common/src/handlers/user/sync-active-campaign-contact-factory.ts
  packages/server-common/src/utils/active-campaign.ts
  packages/server-common/test/handlers/user/sync-active-campaign-contact-factory.test.ts
  packages/server-common/test/mocks/active-campaign.mock.ts
  packages/server-common/test/utils/active-campaign.test.ts
Labels: crn-create-environment, gp2-create-environment

#4155 ASAP-314 Tags searchable in WG list view
  .github/workflows/reusable-crn-algolia-sync.yml
  apps/crn-frontend/src/network/__tests__/Network.test.tsx
  apps/crn-frontend/src/network/working-groups/__tests__/WorkingGroupList.test.tsx
  apps/crn-frontend/src/network/working-groups/__tests__/api.test.ts
  apps/crn-frontend/src/network/working-groups/api.ts
  apps/crn-frontend/src/network/working-groups/state.ts
  packages/algolia/schema/crn/algolia-reverse-timestamp-schema.json
  packages/algolia/schema/crn/algolia-schema.json
Labels: crn-create-environment

#4160 ASAP-223 (GP2) User external profiles and header
  apps/gp2-frontend/src/onboarding/AdditionalDetails.tsx
  apps/gp2-frontend/src/onboarding/Preview.tsx
  apps/gp2-frontend/src/onboarding/__tests__/AdditionalDetails.test.tsx
  apps/gp2-frontend/src/onboarding/__tests__/Preview.test.tsx
  apps/gp2-frontend/src/users/UserDetail.tsx
  apps/gp2-frontend/src/users/__tests__/UserDetail.test.tsx
  apps/gp2-server/src/data-providers/user.data-provider.ts
  apps/gp2-server/src/validation/user.validation.ts
  apps/gp2-server/test/data-providers/user.data-provider.test.ts
  apps/gp2-server/test/fixtures/user.fixtures.ts
  apps/storybook/src/Icons.stories.tsx
  packages/contentful/migrations/gp2/users/20240215131057-update-social-fields.js
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/user.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/fixtures/src/gp2/users.ts
  packages/gp2-components/src/index.ts
  packages/gp2-components/src/molecules/SocialIcons.tsx
  packages/gp2-components/src/molecules/index.ts
  packages/gp2-components/src/organisms/EditUserModal.tsx
  packages/gp2-components/src/organisms/ExternalProfilesModal.tsx
  packages/gp2-components/src/organisms/KeyInformationModal.tsx
  packages/gp2-components/src/organisms/UserDetailHeaderCard.tsx
  packages/gp2-components/src/organisms/UserExternalProfiles.tsx
  packages/gp2-components/src/organisms/UserExternalProfilesForm.tsx
  packages/gp2-components/src/organisms/__tests__/ExternalProfilesModal.test.tsx
  packages/gp2-components/src/organisms/__tests__/KeyInformationModal.test.tsx
  packages/gp2-components/src/organisms/__tests__/UserDetailHeaderCard.test.tsx
  packages/gp2-components/src/organisms/__tests__/UserExternalProfiles.test.tsx
  packages/gp2-components/src/organisms/__tests__/UserExternalProfilesForm.test.tsx
  packages/gp2-components/src/organisms/index.ts
  packages/gp2-components/src/templates/OnboardingAdditionalDetails.tsx
  packages/gp2-components/src/templates/OnboardingPreview.tsx
  packages/gp2-components/src/templates/UserOverview.tsx
  packages/gp2-components/src/templates/__tests__/OnboardingAdditionalDetails.test.tsx
  packages/gp2-components/src/templates/__tests__/OnboardingPreview.test.tsx
  packages/gp2-components/src/templates/__tests__/UserOverview.test.tsx
  packages/gp2-components/src/utils/icon.ts
  packages/model/src/gp2/user.ts
  packages/react-components/src/atoms/TextField.tsx
  packages/react-components/src/icons/blue-sky.tsx
  packages/react-components/src/icons/index.ts
  packages/react-components/src/icons/orcid-social.tsx
  packages/react-components/src/icons/threads.tsx
  packages/react-components/src/icons/x.tsx
  packages/react-components/src/molecules/SocialIcons.tsx
  packages/routing/src/gp2/onboarding.ts
  packages/routing/src/gp2/users.ts
Labels: gp2-create-environment

#4170 [ASAP-309] - update displayName (controllers, queries & data providers)
  apps/auth0/src/__tests__/post-login-add-metadata.test.ts
  apps/crn-server/src/controllers/user.controller.ts
  apps/crn-server/src/data-providers/contentful/event.data-provider.ts
  apps/crn-server/src/data-providers/contentful/research-output.data-provider.ts
  apps/crn-server/src/data-providers/contentful/team.data-provider.ts
  apps/crn-server/src/data-providers/contentful/tutorial.data-provider.ts
  apps/crn-server/src/data-providers/contentful/working-group.data-provider.ts
  apps/crn-server/src/data-providers/transformers/interest-group.ts
  apps/crn-server/test/controllers/user.controller.test.ts
  apps/crn-server/test/data-providers/contentful/event.data-provider.test.ts
  apps/crn-server/test/fixtures/discover.fixtures.ts
  apps/crn-server/test/fixtures/events.fixtures.ts
  apps/crn-server/test/fixtures/interest-groups.fixtures.ts
  apps/crn-server/test/fixtures/teams.fixtures.ts
  apps/crn-server/test/fixtures/users.fixtures.ts
  apps/gp2-server/src/controllers/user.controller.ts
  apps/gp2-server/src/data-providers/event.data-provider.ts
  apps/gp2-server/src/data-providers/output.data-provider.ts
  apps/gp2-server/test/controllers/user.controller.test.ts
  apps/gp2-server/test/data-providers/output.data-provider.test.ts
  apps/gp2-server/test/fixtures/event.fixtures.ts
  apps/gp2-server/test/fixtures/output.fixtures.ts
  apps/gp2-server/test/fixtures/user.fixtures.ts
  apps/storybook/src/DiscoverPageBody.stories.tsx
  apps/storybook/src/NetworkPeople.stories.tsx
  apps/storybook/src/PeopleCard.stories.tsx
  packages/algolia/schema/crn/algolia-reverse-timestamp-schema.json
  packages/algolia/schema/crn/algolia-schema.json
  packages/algolia/schema/gp2/algolia-reverse-timestamp-schema.json
  packages/algolia/schema/gp2/algolia-schema.json
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/discover.queries.ts
  packages/contentful/src/crn/queries/events.queries.ts
  packages/contentful/src/crn/queries/interest-groups.queries.ts
  packages/contentful/src/crn/queries/research-outputs.queries.ts
  packages/contentful/src/crn/queries/teams.queries.ts
  packages/contentful/src/crn/queries/tutorials.queries.ts
  packages/contentful/src/crn/queries/working-groups.queries.ts
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/event.queries.ts
  packages/contentful/src/gp2/queries/output.queries.ts
  packages/contentful/src/gp2/queries/project.queries.ts
  packages/contentful/src/gp2/queries/working-group.queries.ts
  packages/fixtures/src/gp2/users.ts
  packages/fixtures/src/users.ts
  packages/model/src/gp2/user.ts
  packages/model/src/user.ts
  packages/react-components/src/templates/__tests__/NetworkPeople.test.tsx
  packages/validation/src/fixtures/gp2/user.fixtures.ts
  packages/validation/src/fixtures/user.fixtures.ts
Labels: crn-create-environment, gp2-create-environment

#4173 [ASAP-309] - frontend updates
  apps/crn-frontend/src/network/users/__tests__/UserList.test.tsx
  apps/crn-frontend/src/network/users/__tests__/UserProfile.test.tsx
  apps/crn-frontend/src/tags/__tests__/Routes.test.tsx
  apps/gp2-frontend/src/__fixtures__/algolia.ts
  apps/gp2-frontend/src/projects/__tests__/ProjectDetail.test.tsx
  apps/gp2-frontend/src/working-groups/__tests__/WorkingGroupDetail.test.tsx
  apps/gp2-server/src/data-providers/transformers/members.ts
  apps/gp2-server/test/controllers/project.controller.test.ts
  apps/gp2-server/test/controllers/working-group.controller.test.ts
  apps/gp2-server/test/data-providers/working-group.data-provider.test.ts
  apps/gp2-server/test/fixtures/project.fixtures.ts
  apps/gp2-server/test/fixtures/working-group.fixtures.ts
  apps/gp2-server/test/handlers/user/algolia-index-project-handler.test.ts
  apps/gp2-server/test/handlers/user/algolia-index-working-group-handler.test.ts
  apps/storybook/src/UserProfilePage.stories.tsx
  apps/storybook/src/gp2-components/UserCard.stories.tsx
  packages/fixtures/src/gp2/projects.ts
  packages/fixtures/src/gp2/working-groups.ts
  packages/fixtures/src/users.ts
  packages/gp2-components/src/organisms/UserCard.tsx
  packages/gp2-components/src/organisms/UserDetailHeaderCard.tsx
  packages/gp2-components/src/organisms/__tests__/ProjectSummaryFooter.test.tsx
  packages/gp2-components/src/organisms/__tests__/UserCard.test.tsx
  packages/gp2-components/src/organisms/__tests__/UserDetailHeader.test.tsx
  packages/gp2-components/src/organisms/__tests__/UserDetailHeaderCard.test.tsx
  packages/gp2-components/src/organisms/__tests__/UsersPageBody.test.tsx
  packages/gp2-components/src/organisms/__tests__/WorkingGroupCard.test.tsx
  packages/gp2-components/src/templates/ProjectOverview.tsx
  packages/gp2-components/src/templates/WorkingGroupOverview.tsx
  packages/gp2-components/src/templates/__tests__/OnboardingCoreDetails.test.tsx
  packages/gp2-components/src/templates/__tests__/OnboardingPreview.test.tsx
  packages/gp2-components/src/templates/__tests__/ProjectOverview.test.tsx
  packages/gp2-components/src/templates/__tests__/UserDetailPage.test.tsx
  packages/gp2-components/src/templates/__tests__/WorkingGroupOverview.test.tsx
  packages/model/src/gp2/common.ts
  packages/react-components/src/organisms/PeopleCard.tsx
  packages/react-components/src/organisms/__tests__/PeopleCard.test.tsx
  packages/react-components/src/templates/UserProfileHeader.tsx
  packages/react-components/src/templates/__tests__/NetworkPeople.test.tsx
  packages/react-components/src/templates/__tests__/TagsPageBody.test.tsx
  packages/react-components/src/templates/__tests__/UserProfileHeader.test.tsx
  packages/react-components/src/templates/__tests__/UserProfilePage.test.tsx
Labels: crn-create-environment, gp2-create-environment
