Repository yldio/asap-hub, pull requests merged in 2024-01, with the labels that each got.

#4093 fix: node 20 auth0 deploy
  apps/auth0/package.json
  apps/auth0/tenant.yaml
Labels: use-pr-auth0-tenant

#4091 [ASAP-229]-remove entities field in researchTags
  apps/crn-frontend/src/shared-research/__tests__/api.test.ts
  apps/crn-frontend/src/shared-research/api.ts
  apps/crn-server/src/data-providers/contentful/research-tag.data-provider.ts
  apps/crn-server/src/data-providers/types/research-tags.data-provider.types.ts
  apps/crn-server/src/validation/research-tag.validation.ts
  apps/crn-server/test/controllers/research-tag.controller.test.ts
  apps/crn-server/test/data-providers/contentful/research-tags.data-provider.test.ts
  apps/crn-server/test/fixtures/research-tag.fixtures.ts
  apps/crn-server/test/integration/research-outputs.integration-test.ts
  apps/crn-server/test/routes/research-tag.route.test.ts
  packages/contentful/migrations/crn/researchTags/20240102105424-remove-entities-field.js
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/research-tags.queries.ts
  packages/fixtures/src/research-tags.ts
  packages/model/src/research-tag.ts
  packages/model/test/research-tag.test.ts
Labels: crn-create-environment

#4108 feat: ASAP-288 Add middle name and nickname to user models
  apps/crn-server/src/controllers/user.controller.ts
  apps/crn-server/src/data-providers/contentful/user.data-provider.ts
  apps/crn-server/src/handlers/user/cronjob-sync-orcid.ts
  apps/crn-server/src/validation/user.validation.ts
  apps/crn-server/test/controllers/user.controller.test.ts
  apps/crn-server/test/data-providers/contentful/users.data-provider.test.ts
  apps/crn-server/test/fixtures/users.fixtures.ts
  apps/crn-server/test/routes/user.route.test.ts
  apps/gp2-server/src/controllers/user.controller.ts
  apps/gp2-server/src/data-providers/user.data-provider.ts
  apps/gp2-server/src/validation/user.validation.ts
  apps/gp2-server/test/controllers/user.controller.test.ts
  apps/gp2-server/test/data-providers/user.data-provider.test.ts
  apps/gp2-server/test/fixtures/user.fixtures.ts
  apps/gp2-server/test/routes/user.route.test.ts
  packages/contentful/migrations/crn/users/20240109104731-add-nickname-middlename-to-users.js
  packages/contentful/migrations/gp2/users/20240109104744-add-nickname-middlename-to-users.js
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/users.queries.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/user.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/gp2-components/src/organisms/KeyInformationModal.tsx
  packages/gp2-components/src/organisms/__tests__/KeyInformationModal.test.tsx
  packages/model/src/gp2/user.ts
  packages/model/src/user.ts
  packages/react-components/src/templates/PersonalInfoModal.tsx
  packages/react-components/src/templates/__tests__/PersonalInfoModal.test.tsx
  packages/server-common/src/utils/index.ts
  packages/server-common/src/utils/user-data.ts
  packages/server-common/test/utils/user-data.test.ts
Labels: crn-create-environment, gp2-create-environment

#4113 [ASAP-231] - update project opportunities available implementation
  apps/gp2-server/src/controllers/project.controller.ts
  apps/gp2-server/src/data-providers/project.data-provider.ts
  apps/gp2-server/test/controllers/project.controller.test.ts
  apps/gp2-server/test/fixtures/project.fixtures.ts
  packages/contentful/migrations/gp2/projects/20240109100241-add-opportunities-related-fields.js
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/project.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/fixtures/src/gp2/projects.ts
  packages/gp2-components/src/organisms/ProjectCard.tsx
  packages/gp2-components/src/organisms/ProjectDetailHeader.tsx
  packages/gp2-components/src/organisms/ProjectSummaryHeader.tsx
  packages/gp2-components/src/organisms/__tests__/ProjectCard.test.tsx
  packages/gp2-components/src/organisms/__tests__/ProjectDetailHeader.test.tsx
  packages/gp2-components/src/organisms/__tests__/ProjectSummaryHeader.test.tsx
  packages/gp2-components/src/templates/__tests__/ProjectDetailPage.test.tsx
  packages/gp2-components/src/templates/__tests__/ProjectOverview.test.tsx
  packages/gp2-components/src/templates/colors.ts
  packages/model/src/gp2/project.ts
  packages/react-components/src/atoms/CopyButton.tsx
Labels: gp2-create-environment

#4135 fix: ASAP-315 CreatedAt multiple publish issue
  packages/contentful-app-extensions/date-field-as-first-published-at/src/locations/Field.tsx
  packages/contentful-app-extensions/date-field-as-first-published-at/src/test/locations/Field.test.tsx
Labels: crn-create-environment

#4131 [ASAP-313] - update gp2 algolia schema
  packages/algolia/schema/gp2/algolia-reverse-timestamp-schema.json
  packages/algolia/schema/gp2/algolia-schema.json
  packages/gp2-components/src/organisms/FilterSearchExport.tsx
Labels: gp2-create-environment

#4140 add projects and working groups filter to people page
  packages/algolia/schema/gp2/algolia-reverse-timestamp-schema.json
  packages/algolia/schema/gp2/algolia-schema.json
Labels: gp2-create-environment

#4133 ASAP-287 Active Campaign
  .github/actions/setup-environment/action.yml
  .github/actions/sls-deployment/action.yml
  .github/actions/sls-package/action.yml
  .github/actions/sls-remove/action.yml
  .github/environment/Base
  .github/environment/Production
  .github/workflows/on-push-branch.yml
  .github/workflows/on-push-master.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-deployment.yml
  apps/crn-server/serverless.ts
  apps/crn-server/src/config.ts
  apps/crn-server/src/data-providers/contentful/user.data-provider.ts
  apps/crn-server/src/handlers/user/sync-active-campaign-contact.ts
  apps/gp2-server/serverless.ts
  apps/gp2-server/src/config.ts
  apps/gp2-server/src/data-providers/user.data-provider.ts
  apps/gp2-server/src/handlers/user/sync-active-campaign-contact.ts
  apps/gp2-server/test/fixtures/user.fixtures.ts
  packages/contentful/migrations/crn/users/20240116132127-add-active-campaign-created-at.js
  packages/contentful/migrations/gp2/users/20240116132306-add-active-campaign-created-at.js
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/users.queries.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
  packages/contentful/src/gp2/autogenerated-gql/gql.ts
  packages/contentful/src/gp2/autogenerated-gql/graphql.ts
  packages/contentful/src/gp2/queries/user.queries.ts
  packages/contentful/src/gp2/schema/autogenerated-schema.graphql
  packages/model/src/gp2/user.ts
  packages/model/src/user.ts
  packages/server-common/src/handlers/user/index.ts
  packages/server-common/src/handlers/user/sync-active-campaign-contact-factory.ts
  packages/server-common/src/utils/active-campaign.ts
  packages/server-common/src/utils/index.ts
  packages/server-common/test/fixtures/users.fixtures.ts
  packages/server-common/test/handlers/user/sync-active-campaign-contact-factory.test.ts
  packages/server-common/test/mocks/active-campaign.mock.ts
  packages/server-common/test/utils/active-campaign.test.ts
Labels: crn-create-environment, gp2-create-environment
