Repository yldio/asap-hub, pull requests merged in 2025-04, with the labels that each got.

#4557 [ASAP-953] - update accession validation in crn and gp2
  packages/contentful/migrations/crn/researchOutputs/20250410100619-update-accessionnumber-validation.js
  packages/contentful/migrations/gp2/outputs/20250410100653-update-accessionnumber-validation.js
  packages/validation/src/gp2/output.ts
  packages/validation/src/research-output.ts
Labels: crn-create-environment, gp2-create-environment

#4560 [ASAP-970] - fix multiple versions in compliance table
  apps/crn-frontend/src/network/teams/__mocks__/api.ts
  apps/crn-frontend/src/network/teams/__tests__/Compliance.test.tsx
  apps/crn-frontend/src/network/teams/__tests__/export.test.ts
  apps/crn-frontend/src/network/teams/export.ts
  apps/crn-frontend/src/network/teams/state.ts
  apps/crn-server/src/controllers/manuscript.controller.ts
  apps/crn-server/src/data-providers/contentful/manuscript.data-provider.ts
  apps/crn-server/test/controllers/manuscript.controller.test.ts
  apps/crn-server/test/fixtures/manuscript.fixtures.ts
  packages/algolia/schema/crn/algolia-reverse-timestamp-schema.json
  packages/algolia/schema/crn/algolia-schema.json
  packages/fixtures/src/manuscripts.ts
  packages/react-components/src/organisms/ComplianceTable.tsx
  packages/react-components/src/organisms/ComplianceTableRow.tsx
  packages/react-components/src/organisms/__tests__/ComplianceTable.test.tsx
  packages/react-components/src/organisms/__tests__/ComplianceTableRow.test.tsx
Labels: crn-create-environment

#4563 [ASAP-947] - remove manuscript statuses
  apps/crn-frontend/src/network/teams/__tests__/Compliance.test.tsx
  apps/crn-frontend/src/network/teams/__tests__/TeamComplianceReport.test.tsx
  apps/crn-frontend/src/network/teams/__tests__/Workspace.test.tsx
  apps/storybook/src/StatusButton.stories.tsx
  packages/model/src/manuscript.ts
  packages/postmark/src/templates/waiting-for-report-grantees/content.html
  packages/react-components/src/organisms/ComplianceTableRow.tsx
  packages/react-components/src/organisms/ManuscriptCard.tsx
  packages/react-components/src/organisms/__tests__/ManuscriptCard.test.tsx
  packages/react-components/src/templates/ComplianceReportForm.tsx
  packages/react-components/src/templates/__tests__/ComplianceReportForm.test.tsx
Labels: postmark-templates-update

#4561 ASAP-944 Display Discussion Notifications
  apps/crn-frontend/src/network/teams/Workspace.tsx
  apps/crn-frontend/src/network/teams/__tests__/Workspace.MarkAsRead.test.tsx
  apps/crn-frontend/src/network/teams/__tests__/Workspace.test.tsx
  apps/crn-frontend/src/network/teams/__tests__/api.test.ts
  apps/crn-frontend/src/network/teams/api.ts
  apps/crn-frontend/src/network/teams/state.ts
  apps/crn-server/src/controllers/discussion.controller.ts
  apps/crn-server/src/controllers/manuscript.controller.ts
  apps/crn-server/src/data-providers/contentful/discussion.data-provider.ts
  apps/crn-server/src/data-providers/contentful/manuscript.data-provider.ts
  apps/crn-server/src/data-providers/types/manuscript.data-provider.types.ts
  apps/crn-server/src/routes/compliance-report.route.ts
  apps/crn-server/src/routes/discussion.route.ts
  apps/crn-server/src/routes/manuscript.route.ts
  apps/crn-server/test/controllers/discussion.controller.test.ts
  apps/crn-server/test/controllers/manuscript.controller.test.ts
  apps/crn-server/test/data-providers/contentful/discussion.data-provider.test.ts
  apps/crn-server/test/data-providers/contentful/manuscript.data-provider.test.ts
  apps/crn-server/test/fixtures/manuscript.fixtures.ts
  apps/crn-server/test/routes/discussion.route.test.ts
  apps/crn-server/test/routes/manuscript.route.test.ts
  apps/storybook/src/TeamProfileWorkspace.stories.tsx
  packages/contentful/migrations/crn/discussions/20250415172250-add-read-by-field.js
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/discussions.queries.ts
  packages/contentful/src/crn/queries/manuscript.queries.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
  packages/model/src/discussion.ts
  packages/react-components/src/icons/index.ts
  packages/react-components/src/icons/notification-dot.tsx
  packages/react-components/src/organisms/DiscussionCard.tsx
  packages/react-components/src/organisms/DiscussionsTab.tsx
  packages/react-components/src/organisms/ManuscriptCard.tsx
  packages/react-components/src/organisms/__tests__/DiscussionCard.test.tsx
  packages/react-components/src/organisms/__tests__/DiscussionsTab.test.tsx
  packages/react-components/src/organisms/__tests__/ManuscriptCard.test.tsx
  packages/react-components/src/templates/TeamProfileWorkspace.tsx
  packages/react-components/src/templates/__tests__/TeamProfileWorkspace.test.tsx
Labels: crn-create-environment

#4564 [ASAP-981] - update manuscript content model
  apps/crn-server/src/data-providers/contentful/manuscript.data-provider.ts
  packages/contentful/migrations/crn/manuscripts/20250417143217-add-apc-fields.js
Labels: crn-create-environment

#4565 ASAP-973 Discussion Emails
  apps/crn-frontend/src/network/teams/__tests__/Workspace.test.tsx
  apps/crn-frontend/src/network/teams/__tests__/api.test.ts
  apps/crn-frontend/src/network/teams/__tests__/state.test.tsx
  apps/crn-frontend/src/network/teams/api.ts
  apps/crn-frontend/src/network/teams/state.ts
  apps/crn-server/src/controllers/discussion.controller.ts
  apps/crn-server/src/data-providers/contentful/discussion.data-provider.ts
  apps/crn-server/src/data-providers/contentful/manuscript.data-provider.ts
  apps/crn-server/src/data-providers/email-notification-service.ts
  apps/crn-server/src/routes/discussion.route.ts
  apps/crn-server/src/validation/discussion.validation.ts
  apps/crn-server/test/controllers/discussion.controller.test.ts
  apps/crn-server/test/data-providers/contentful/discussion.data-provider.test.ts
  apps/crn-server/test/data-providers/contentful/manuscript.data-provider.test.ts
  apps/crn-server/test/data-providers/email-notification-service.test.ts
  apps/crn-server/test/routes/discussion.route.test.ts
  packages/contentful/src/crn/autogenerated-gql/gql.ts
  packages/contentful/src/crn/autogenerated-gql/graphql.ts
  packages/contentful/src/crn/queries/discussions.queries.ts
  packages/contentful/src/crn/schema/autogenerated-schema.graphql
  packages/model/src/discussion.ts
  packages/model/src/email-notification.ts
  packages/model/src/index.ts
  packages/model/src/manuscript.ts
  packages/postmark/src/templates/waiting-for-grantee-reply/content.html
  packages/postmark/src/templates/waiting-for-grantee-reply/meta.json
  packages/react-components/src/organisms/DiscussionCard.tsx
  packages/react-components/src/organisms/__tests__/DiscussionCard.test.tsx
Labels: postmark-templates-update
